## Training and Testing Pipeline

In [669]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import lightgbm as lgb
import xgboost as xgb
from catboost import CatBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [670]:
train_data = pd.read_csv('testing/train_data.csv')
test_data = pd.read_csv('testing/test_data.csv')

In [671]:
# Display options
pd.set_option('display.max_columns',50)

In [672]:
train_data.shape
train_data.head(2)

(948, 23)

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.0,100.0,157.178571
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.0,50.0,103.500000

In [673]:
test_data.shape
test_data.head(2)

(271, 21)

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15
0,9250275,Jy,28594,7438955.0:8271969.0:8369661.0:3685247.0:259025...,Ud Ss of Aa,90,2436944.0:8117500.0:6703528.0:3010748.0:161387...,Ud Ss of Aa,field,Bo Ac Cb,Bulawayo,2022-07-11,day match,Ud Ss of Aa tr of Ze,2022,3226,0.000000,0.019608,NaN,0.00,NaN
1,9262189,Ga An Ws,36084,3715690.0:6818622.0:4069666.0:393014.0:4690188...,Ja Ts,36098,4690258.0:3761246.0:8464385.0:5742470.0:315072...,Ja Ts,field,Pe Sm Ga,Providence,2022-09-21,night match,Cn Pr Le,2022,13915,0.615385,0.344262,151.285714,66.67,153.5

# Calculating batsmen features

In [674]:
batsmen=pd.read_csv('dataset/batsman_level_scorecard.csv')

In [675]:
batsmen.head(2)

,match id,batsman,batsman_id,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,over_faced_first,wicket kind,out_by_bowler,out_by_fielder,bowler_id,bowler_details,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,match_dt
0,8638034,KD Ce,7907451.0,NZ:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,7,5,1.1,caught,JS Nm,TM Jn,2486896.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,140.0,1.0,NaN,2021-01-01
1,8638034,TL St,4381761.0,NZ:Right-hand bat:None:,0.0,1.0,1,46,46,1.2,caught,R Ra,MG Bl,6718382.0,NZ:Left-hand bat:Slow left-arm orthodox:,0.0,0.0,100.0,4.0,1.0,2021-01-01

In [676]:
# calculating 2 dictionaries to store {batsman_id: batsman average } and {batsman_id: batsman strike rate}

total_runs = {}  
balls_faced = {}
matches_played = {}

for i in range(len(batsmen)):
    batsman_id = batsmen['batsman_id'][i]
    runs = batsmen['runs'][i]
    balls = batsmen['balls_faced'][i]
    match_id = batsmen['match id'][i]
    if batsman_id in total_runs:
        total_runs[batsman_id] += runs
        balls_faced[batsman_id] += balls
        matches_played[batsman_id] += 1
    else:
        total_runs[batsman_id] = runs
        balls_faced[batsman_id] = balls
        matches_played[batsman_id] = 1
        
batsman_avg = {}
batsman_sr = {}

for batsman_id in total_runs:
    batsman_avg[batsman_id] = total_runs[batsman_id] / matches_played[batsman_id]
    batsman_sr[batsman_id] = total_runs[batsman_id] / balls_faced[batsman_id] * 100

# Bowler level features

In [677]:
bowlers=pd.read_csv('dataset/bowler_level_scorecard.csv')

In [678]:
bowlers.head()

,match id,bowler,bowler_id,bowler_details,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,match_dt
0,8638034,BV Ss,6718396.0,NZ:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,21,0,12,10.50,0,3.0,1,1,3,1,2021-01-01
1,8638034,HK Bt,1585464.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,1,34,1,24,8.50,0,7.0,3,1,2,0,2021-01-01
2,8638034,JS Nm,2486896.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,1,23,2,24,5.75,0,12.0,1,1,0,0,2021-01-01
3,8638034,LV vn Bk,3083667.0,NED:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,31,1,24,7.75,0,9.0,4,0,2,0,2021-01-01
4,8638034,PF Yd,4950294.0,NZ:Right-hand bat:Legbreak googly:,0.0,0.0,1,21,1,24,5.25,0,8.0,0,0,1,0,2021-01-01

In [679]:
# calculating 2 dictionaries to store {bowler_id: bowler strike rate } , {bowler_id: bowler economy} , {bowler_id: bowler extras rate}

total_matches = {}
total_wickets = {}
total_ball_bowled = {}
total_extras = {}
total_economy = {}

for i in range(len(bowlers)):
    bowler_id = bowlers['bowler_id'][i]
    wickets = bowlers['wicket_count'][i]
    balls = bowlers['balls_bowled'][i]
    runs = bowlers['runs'][i]
    extras = bowlers['wides'][i] + bowlers['noballs'][i]
    match_id = bowlers['match id'][i]
    economy=bowlers['economy'][i]
    if bowler_id in total_matches:
        total_matches[bowler_id] += 1
        total_wickets[bowler_id] += wickets
        total_ball_bowled[bowler_id] += balls
        total_extras[bowler_id] += extras
        total_economy[bowler_id] += economy
    else:
        total_matches[bowler_id] = 1
        total_wickets[bowler_id] = wickets
        total_ball_bowled[bowler_id] = balls
        total_extras[bowler_id] = extras
        total_economy[bowler_id] = economy
        
bowler_sr = {}
bowler_economy = {}
bowler_extras = {}

for bowler_id in total_matches:
    bowler_economy[bowler_id] = total_economy[bowler_id] / total_matches[bowler_id]
    bowler_extras[bowler_id] = total_extras[bowler_id] / total_ball_bowled[bowler_id]
    if total_wickets[bowler_id] == 0:
        bowler_sr[bowler_id] = 0
    else:
        bowler_sr[bowler_id] = total_ball_bowled[bowler_id] /total_wickets[bowler_id]

## Match level features

In [680]:
match=pd.read_csv('dataset/match_level_scorecard.csv')

In [681]:
match.head()

,match id,team1,team2,winner,by,win amount,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,umpire1,umpire2,inning1_runs,inning1_wickets,inning1_balls,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_ids,team2_id,team2_roster_ids,series_type,winner_id,player_of_the_match_id
0,8638034,Nn Ds,Wn,Wn,wickets,9.0,Wn,field,By Ol,Mount Maunganui,2021-01-01,night match,Sr Sh,2020/21,17681,Dn Mw,TJ Pe,148,6,130,152.0,1.0,97.0,17982,7907451.0:4381761.0:31464.0:258649.0:4949790.0...,18570,2653993.0:6718326.0:6718382.0:2486896.0:228878...,other_domestic,18570,NaN
1,8588005,Me Rs,Sy Tr,Sy Tr,runs,7.0,Sy Tr,field,Ca Ol,Carrara,2021-01-01,night match,Bg Bh Le,2020/21,6663,D Tr,PJ Ge,166,6,106,117.0,2.0,74.0,33942,37351.0:46794.0:5406540.0:2231928.0:181404.0:1...,33963,1506098.0:1749075.0:36665.0:2083409.0:7534652....,other_domestic,33963,1749075.0
2,8587837,Sy Ss,Be Ht,Be Ht,wickets,4.0,Sy Ss,bat,Be Ct Gd,Brisbane,2021-01-02,night match,Bg Bh Le,2020/21,1476,GJ Dn,PJ Ge,165,8,126,171.0,6.0,119.0,33956,7869987.0:7620283.0:2076192.0:4002340.0:306369...,33921,7620269.0:2286437.0:87191.0:5786766.0:3114803....,other_domestic,33921,3890984.0
3,8638041,Nn Ds,Oo,Oo,wickets,2.0,Oo,field,By Ol,Mount Maunganui,2021-01-02,night match,Sr Sh,2020/21,17681,GA St,TJ Pe,153,7,128,156.0,8.0,126.0,17982,7907451.0:4381761.0:31464.0:4949790.0:258649.0...,18360,2319638.0:256080.0:7918280.0:3913447.0:2690498...,other_domestic,18360,NaN
4,8587921,Ht Hs,Me Ss,Ht Hs,runs,21.0,Me Ss,field,Be Ol,Hobart,2021-01-02,day/night match,Bg Bh Le,2020/21,6348,GA Ad,NR Je,164,5,126,143.0,9.0,123.0,33928,4223883.0:2161599.0:1655436.0:5788418.0:319948...,33949,363047.0:2275097.0:3901078.0:2275195.0:4230127...,other_domestic,33928,3125849.0

In [682]:
# # calculating 2 dictionaries to store {team_id: team average }
#  if team1 has won toss and choose bat then inning1 score will be team1 score and inning2 score will be team2 score

total_runs = {}
total_matches={}
for i in range(len(match)):
    
    toss_winner = match['toss winner'][i]
    team2=toss_winner
    
    if toss_winner == match['team2_id'][i]:
        team1 = match['team1_id'][i]
    else:
        team1 = match['team2_id'][i]
    
    if match['toss decision'][i] == 'bat':
        team2_score=match['inning1_runs'][i]
        team1_score=match['inning2_runs'][i]
    
    else:
        team1_score=match['inning1_runs'][i]
        team2_score=match['inning2_runs'][i]
    
    if team1 in total_runs:
        total_runs[team1] += team1_score
        total_matches[team1] += 1
    
    else:
        total_runs[team1] = team1_score
        total_matches[team1] = 1
        
    if team2 in total_runs:
        total_runs[team2] += team2_score
        total_matches[team2] += 1
    
    else:
        total_runs[team2] = team2_score
        total_matches[team2] = 1
        
team_avg = {}

for team_id in total_runs:
    team_avg[team_id] = total_runs[team_id] / total_matches[team_id]

In [683]:
def winpCrossLastn(team1_id, team2_id, date, n):
    '''
    Function to compute team1's win% against team2 from the current game in their past n encounters.
    
    Input-
    1. team1_id: ID of team1 to calculate win% of.
    2. team2_id: ID of team2 to calculate win% against.
    3: date: match date of the current game for which the feature is to be calculated.
    4. n: look-back window of games for both these teams.
    
    Output- None
    
    Returns- Float value denoting team1's win% against team2 in their past n games against each other.
    '''
    # filter out games where either team1_id is input team1 and team2_id is input team2, or where team2_id is input team1 and team1_id is input team2.
    # Also, match date is less than current games's input date, sort desc by date and get top n rows (games)
    df_rel = match[(match['match_dt']<date)&\
                      (((match['team1_id']==team1_id)&(match['team2_id']==team2_id))|((match['team1_id']==team2_id)&(match['team2_id']==team1_id)))]\
                        .sort_values(by='match_dt', ascending=False).head(n)
    win_count = df_rel[df_rel['winner_id']==team1_id].shape[0] # Counting number of rows (games) where winner is input team1.
    if win_count == 0:
        return 0
    return round(win_count*100/df_rel.shape[0], 2) # return Float denoting team1's win% against team2 in past n games rounded to 2 decimal places.

In [684]:
def win_percentage_last_n_matches(team_id, date,n):
    '''
    Function to calculate a team's win percentage in their last n games.

    '''
    # Filter games where team1 or team2 is the input team_id and the match date is before the input date
    df_rel = match[(match['match_dt'] < date) &
                            ((match['team1_id'] == team_id) | (match['team2_id'] == team_id))]\
                            .sort_values(by='match_dt', ascending=False).head(n)
    
    # Calculate the number of wins
    wins = df_rel[(df_rel['winner_id'] == team_id)].shape[0]
    
    # Calculate the number of matches
    total_matches = df_rel.shape[0]
    
    if total_matches == 0:
        return 0.0  # Avoid division by zero
    
    # Calculate win percentage
    win_percentage = (wins / total_matches) * 100
    return win_percentage

In [685]:
# Function to get player IDs
def get_player_ids(roster_id_str):
    players_id = [int(float(x)) for x in roster_id_str.split(":")]
    return players_id

In [686]:
batsman_lvl_data=pd.read_csv('dataset/batsman_level_scorecard.csv')

In [687]:
# batsman_lvl_data.head(10)

In [688]:
def calculate_sixes_last15_games(team_roster_ids, match_dates, batsman_lvl_data):
    total_sixes = []

    for tm_roster_id, match_date in zip(team_roster_ids, match_dates):
        players = get_player_ids(tm_roster_id)
        bats_indices = [i for i, player in enumerate(players) if player in batsman_lvl_data['batsman_id'].values]
        sixes_count = 0

        for i in bats_indices:
            my_batsid = players[i]
            rdat = batsman_lvl_data[(batsman_lvl_data['batsman_id'] == my_batsid) & (batsman_lvl_data['match_dt'] < match_date)]
            rdat = rdat.sort_values('match_dt')

            if len(rdat) >= 15:
                rdat_last15 = rdat.tail(15)
            else:
                rdat_last15 = rdat

            sixes_count += rdat_last15['Sixes'].fillna(0).sum()

        total_sixes.append(sixes_count)

    return total_sixes

In [689]:


# Function to calculate team batsmen average strike rate of last 5 matches
def team_bats_avg_strike_last5(team_roster_ids, match_dates, batsman_lvl_data):
    team_bats_avg_strike = []

    for tm_roster_id, match_date in zip(team_roster_ids, match_dates):
        players = get_player_ids(tm_roster_id)
        bats_indices = [i for i, player in enumerate(players) if player in batsman_lvl_data['batsman_id'].values]
        bats_strike = []

        for i in bats_indices:
            my_batsid = players[i]
            rdat = batsman_lvl_data[(batsman_lvl_data['batsman_id'] == my_batsid) & (batsman_lvl_data['match_dt'] < match_date)]
            rdat = rdat.sort_values('match_dt')
            rdat_len = len(rdat)

            if rdat_len >= 5:
                rdat_last5 = rdat.tail(5)
            elif rdat_len == 0:
                bats_strike.append(0)
                continue
            else:
                rdat_last5 = rdat.tail(rdat_len)

            bats_strike.append(rdat_last5['strike_rate'].mean())

        team_bats_avg_strike.append(np.mean(bats_strike))

    return team_bats_avg_strike

In [690]:
bowler_lvl_data=pd.read_csv('dataset/bowler_level_scorecard.csv')

In [691]:


# Function to calculate performance score
def calculate_performance_score(runs, wicket_count, balls_bowled, economy, maiden, dots, Fours, Sixes, wides, noballs):
    weight_wickets = 25
    weight_maidens = 5
    weight_dots = 2
    weight_runs = -1
    weight_fours = -0.5
    weight_sixes = -0.8
    weight_wides = -0.2
    weight_noballs = -0.4

    performance_score = (wicket_count * weight_wickets) + (maiden * weight_maidens) + (dots * weight_dots) + (runs * weight_runs) + (Fours * weight_fours) + (Sixes * weight_sixes) + (wides * weight_wides) + (noballs * weight_noballs)

    return performance_score

In [692]:
def team_bowler_feat_last5(team_roster_ids, match_dates, bowler_lvl_data):
    team_bowlers_avg_perfor = []
    team_bowlers_avg_eco = []

    for tm_roster_id, match_date in zip(team_roster_ids, match_dates):
        players = get_player_ids(tm_roster_id)
        bowler_indices = [i for i, player in enumerate(players) if player in bowler_lvl_data['bowler_id'].values]
        bowler_summary = []
        bowler_economy = []

        for i in bowler_indices:
            my_bowlerid = players[i]
            rdat = bowler_lvl_data[(bowler_lvl_data['bowler_id'] == my_bowlerid) & (bowler_lvl_data['match_dt'] < match_date)]
            rdat = rdat.sort_values('match_dt')
            rdat_len = len(rdat)

            if rdat_len >= 5:
                rdat_last5 = rdat.tail(5)
            elif rdat_len == 0:
                bowler_summary.append(0)
                bowler_economy.append(0)
                continue
            else:
                rdat_last5 = rdat.tail(rdat_len)

            rdat_last5 = rdat_last5.copy()  # Create a copy to avoid the SettingWithCopyWarning
            rdat_last5['performance_score'] = rdat_last5.apply(lambda row: calculate_performance_score(row['runs'], row['wicket_count'], row['balls_bowled'], row['economy'], row['maiden'], row['dots'], row['Fours'], row['Sixes'], row['wides'], row['noballs']), axis=1)

            bowler_summary.append(rdat_last5['performance_score'].mean())
            bowler_economy.append(rdat_last5['economy'].mean())

        team_bowlers_avg_perfor.append(np.mean(bowler_summary) if bowler_summary else 0)
        team_bowlers_avg_eco.append(np.mean(bowler_economy) if bowler_economy else 0)

    overall_avg_perfor = np.mean([x for x in team_bowlers_avg_perfor if x != 0])
    overall_avg_eco = np.mean([x for x in team_bowlers_avg_eco if x != 0])

    team_bowlers_avg_perfor = [x if x != 0 else overall_avg_perfor for x in team_bowlers_avg_perfor]
    team_bowlers_avg_eco = [x if x != 0 else overall_avg_eco for x in team_bowlers_avg_eco]

    return team_bowlers_avg_perfor, team_bowlers_avg_eco

In [693]:
train_data.head(2)

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.0,100.0,157.178571
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.0,50.0,103.500000

In [694]:
test_data.head(2)

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15
0,9250275,Jy,28594,7438955.0:8271969.0:8369661.0:3685247.0:259025...,Ud Ss of Aa,90,2436944.0:8117500.0:6703528.0:3010748.0:161387...,Ud Ss of Aa,field,Bo Ac Cb,Bulawayo,2022-07-11,day match,Ud Ss of Aa tr of Ze,2022,3226,0.000000,0.019608,NaN,0.00,NaN
1,9262189,Ga An Ws,36084,3715690.0:6818622.0:4069666.0:393014.0:4690188...,Ja Ts,36098,4690258.0:3761246.0:8464385.0:5742470.0:315072...,Ja Ts,field,Pe Sm Ga,Providence,2022-09-21,night match,Cn Pr Le,2022,13915,0.615385,0.344262,151.285714,66.67,153.5

In [695]:
def calculate_batsmen_above_fifty(team_roster_ids, match_dates, batsman_lvl_data):
    batsmen_above_fifty = []

    for tm_roster_id, match_date in zip(team_roster_ids, match_dates):
        players = get_player_ids(tm_roster_id)
        bats_indices = [i for i, player in enumerate(players) if player in batsman_lvl_data['batsman_id'].values]
        fifty_scores = 0
        total_matches = 0

        for i in bats_indices:
            my_batsid = players[i]
            rdat = batsman_lvl_data[(batsman_lvl_data['batsman_id'] == my_batsid) & (batsman_lvl_data['match_dt'] < match_date)]
            rdat = rdat.sort_values('match_dt')
            total_matches += len(rdat)
            fifty_scores += (rdat['runs'] > 50).sum()

        if total_matches == 0:
            batsmen_above_fifty.append(0)
        else:
            batsmen_above_fifty.append(fifty_scores / total_matches)

    return batsmen_above_fifty

In [696]:
def calculate_batsmen_above_seventy_five(team_roster_ids, match_dates, batsman_lvl_data):
    batsmen_above_fifty = []

    for tm_roster_id, match_date in zip(team_roster_ids, match_dates):
        players = get_player_ids(tm_roster_id)
        bats_indices = [i for i, player in enumerate(players) if player in batsman_lvl_data['batsman_id'].values]
        fifty_scores = 0
        total_matches = 0

        for i in bats_indices:
            my_batsid = players[i]
            rdat = batsman_lvl_data[(batsman_lvl_data['batsman_id'] == my_batsid) & (batsman_lvl_data['match_dt'] < match_date)]
            rdat = rdat.sort_values('match_dt')
            total_matches += len(rdat)
            fifty_scores += (rdat['runs'] > 75).sum()

        if total_matches == 0:
            batsmen_above_fifty.append(0)
        else:
            batsmen_above_fifty.append(fifty_scores / total_matches)

    return batsmen_above_fifty

# Combining the features of dataset

In [697]:
# from geopy.geocoders import Nominatim

# # Initialize Nominatim API
# geolocator = Nominatim(user_agent="my_geocoder")

# Creating new columns in train_data and initializing with 0
train_data['batsmens_averages_1'] = 0
train_data['batsmens_strike_rates_1'] = 0
train_data['bowlers_strike_rates_1'] = 0
train_data['bowlers_economy_1'] = 0
train_data['bowlers_extras_1'] = 0

train_data['batsmens_averages_2'] = 0
train_data['batsmens_strike_rates_2'] = 0
train_data['bowlers_strike_rates_2'] = 0
train_data['bowlers_economy_2'] = 0
train_data['bowlers_extras_2'] = 0

train_data['batsmens_averages_ratios'] = 0
train_data['batsmens_strike_rates_ratios'] = 0
train_data['bowlers_strike_rates_ratios'] = 0
train_data['bowlers_economy_ratios'] = 0
train_data['bowlers_extras_ratios'] = 0

train_data['team1_winp_team2_last5']=0
train_data['team1_winp_team2_last10']=0
train_data['team_average_score_ratios'] = 0
train_data['win_percentage_team1_last_15'] = 0
train_data['win_percentage_team2_last_15'] = 0

train_data['batsmen_performance_ratio_last5'] = 0
train_data['bowlers_performance_ratio_last5'] = 0
train_data['bowlers_economy_ratios_last5'] = 0
train_data['team_sixes_ratios_last15'] = 0
train_data['team_batsmen_above_fifty_ratios'] = 0
train_data['team_batsmen_above_seventy_five_ratios'] = 0

# train_data['location_humidity'] = 0
# train_data['location_temperature'] = 0

# Filling the values in the new columns
for i in range(len(train_data)):
    # Getting ids of batsmen and bowlers from team roster id separated by :
    team1_players_ids = train_data['team1_roster_ids'][i].split(':')
    team2_players_ids = train_data['team2_roster_ids'][i].split(':')
    # print(i,team1_players_ids,team2_players_ids)
    # For team1 check if id is present in the dictionary and add the values
    for player_id in team1_players_ids:
        player_id = int(float(player_id))
        if player_id in batsman_avg:
            train_data.at[i, 'batsmens_averages_1'] += batsman_avg[player_id]
            train_data.at[i, 'batsmens_strike_rates_1'] += batsman_sr[player_id]
        if player_id in bowler_sr:
            train_data.at[i, 'bowlers_strike_rates_1'] += bowler_sr[player_id]
            train_data.at[i, 'bowlers_economy_1'] += bowler_economy[player_id]
            train_data.at[i, 'bowlers_extras_1'] += bowler_extras[player_id]
            
    # For team2 check if id is present in the dictionary and add the values
    for player_id in team2_players_ids:
        player_id = int(float(player_id))
        if player_id in batsman_avg:
            train_data.at[i, 'batsmens_averages_2'] += batsman_avg[player_id]
            train_data.at[i, 'batsmens_strike_rates_2'] += batsman_sr[player_id]
        if player_id in bowler_sr:
            train_data.at[i, 'bowlers_strike_rates_2'] += bowler_sr[player_id]
            train_data.at[i, 'bowlers_economy_2'] += bowler_economy[player_id]
            train_data.at[i, 'bowlers_extras_2'] += bowler_extras[player_id]
    
    # filling ratios
    if train_data['batsmens_averages_2'][i] == 0:
        train_data['batsmens_averages_2'][i] = 1
        
    if train_data['batsmens_strike_rates_2'][i] == 0:
        train_data['batsmens_strike_rates_2'][i] = 1
    if train_data['bowlers_strike_rates_2'][i] == 0:
        train_data['bowlers_strike_rates_2'][i] = 1
        
    if train_data['bowlers_economy_2'][i] == 0:
        train_data['bowlers_economy_2'][i] = 1
        
    if train_data['bowlers_extras_2'][i] == 0:
        train_data['bowlers_extras_2'][i] = 1
        
    
    train_data.at[i, 'batsmens_averages_ratios'] = train_data['batsmens_averages_1'][i] / train_data['batsmens_averages_2'][i]
    train_data.at[i, 'batsmens_strike_rates_ratios'] = train_data['batsmens_strike_rates_1'][i] / train_data['batsmens_strike_rates_2'][i]
    train_data.at[i, 'bowlers_strike_rates_ratios'] = train_data['bowlers_strike_rates_1'][i] / train_data['bowlers_strike_rates_2'][i]
    train_data.at[i, 'bowlers_economy_ratios'] = train_data['bowlers_economy_1'][i] / train_data['bowlers_economy_2'][i]
    train_data.at[i, 'bowlers_extras_ratios'] = train_data['bowlers_extras_1'][i] / train_data['bowlers_extras_2'][i]
    
    
    # filling team win% against each other in last 10 games
    team1_id = train_data['team1_id'][i]
    team2_id = train_data['team2_id'][i]
    date = train_data['match_dt'][i]
    
    train_data.at[i, 'team1_winp_team2_last5'] = winpCrossLastn(team1_id, team2_id, date, 5)
    train_data.at[i, 'team1_winp_team2_last10'] = winpCrossLastn(team1_id, team2_id, date, 10)

            
    # filling team average scores
    team1_id = train_data['team1_id'][i]
    team2_id = train_data['team2_id'][i]
    
    if team1_id in team_avg:
        team1_average_score= team_avg[team1_id]
    else:
        team1_average_score= 0
        
    if team2_id in team_avg:
        team2_average_score = team_avg[team2_id]
    else:
        team2_average_score = 0
    
    if team2_average_score == 0:
        train_data.at[i, 'team_average_score_ratios'] = 1
    
    else :
        train_data.at[i, 'team_average_score_ratios'] = team1_average_score / team2_average_score
    # filling win% of team1 in last 15 games from matchscore_updated
    
    train_data.at[i, 'win_percentage_team1_last_15'] = win_percentage_last_n_matches(team1_id, date, 15)
    train_data.at[i, 'win_percentage_team2_last_15'] = win_percentage_last_n_matches(team2_id, date, 15)
    
    team1_roster_ids = train_data['team1_roster_ids'][i]
    team2_roster_ids = train_data['team2_roster_ids'][i]
    match_date = train_data['match_dt'][i]
    
    team1_bats_avg_strike_last5 = team_bats_avg_strike_last5([team1_roster_ids], [match_date], batsman_lvl_data)
    team2_bats_avg_strike_last5 = team_bats_avg_strike_last5([team2_roster_ids], [match_date], batsman_lvl_data)
    if team2_bats_avg_strike_last5[0] == 0:
        train_data.at[i, 'batsmen_performance_ratio_last5'] = 0
        
    else:
        train_data.at[i, 'batsmen_performance_ratio_last5'] = team1_bats_avg_strike_last5[0] / team2_bats_avg_strike_last5[0]
        
    team1_bowlers_avg_perfor_last5, team1_bowlers_avg_eco_last5 = team_bowler_feat_last5([team1_roster_ids], [match_date], bowler_lvl_data)
    team2_bowlers_avg_perfor_last5, team2_bowlers_avg_eco_last5 = team_bowler_feat_last5([team2_roster_ids], [match_date], bowler_lvl_data)
    
    if team2_bowlers_avg_perfor_last5[0] == 0:
        train_data.at[i, 'bowlers_performance_ratio_last5'] = 0
    else:
        train_data.at[i, 'bowlers_performance_ratio_last5'] = team1_bowlers_avg_perfor_last5[0] / team2_bowlers_avg_perfor_last5[0]
    
    if team2_bowlers_avg_eco_last5[0] == 0:
        train_data.at[i, 'bowlers_economy_ratios_last5'] = 0
    else:
        train_data.at[i, 'bowlers_economy_ratios_last5'] = team1_bowlers_avg_eco_last5[0] / team2_bowlers_avg_eco_last5[0]
        
    team1_sixes_last15 = calculate_sixes_last15_games([team1_roster_ids], [match_date], batsman_lvl_data)
    team2_sixes_last15 = calculate_sixes_last15_games([team2_roster_ids], [match_date], batsman_lvl_data)
    
    if team2_sixes_last15[0] == 0:  
        train_data.at[i, 'team_sixes_ratios_last15'] = 0
    else:
        train_data.at[i, 'team_sixes_ratios_last15'] = team1_sixes_last15[0] / team2_sixes_last15[0]
        
    team1_batsmen_above_fifty = calculate_batsmen_above_fifty([team1_roster_ids], [match_date], batsman_lvl_data)
    team2_batsmen_above_fifty = calculate_batsmen_above_fifty([team2_roster_ids], [match_date], batsman_lvl_data)
    
    if team2_batsmen_above_fifty[0] == 0:
        train_data.at[i, 'team_batsmen_above_fifty_ratios'] = 0
    else:
        train_data.at[i, 'team_batsmen_above_fifty_ratios'] = team1_batsmen_above_fifty[0] / team2_batsmen_above_fifty[0]
    
    team1_batsmen_above_seventy_five = calculate_batsmen_above_seventy_five([team1_roster_ids], [match_date], batsman_lvl_data)
    team2_batsmen_above_seventy_five = calculate_batsmen_above_seventy_five([team2_roster_ids], [match_date], batsman_lvl_data)
    
    if team2_batsmen_above_seventy_five[0] == 0:
        train_data.at[i, 'team_batsmen_above_seventy_five_ratios'] = 0
        
    else:
        train_data.at[i, 'team_batsmen_above_seventy_five_ratios'] = team1_batsmen_above_seventy_five[0] / team2_batsmen_above_seventy_five[0]

C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '10.333333333333334' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'batsmens_averages_1'] += batsman_avg[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '93.93939393939394' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'batsmens_strike_rates_1'] += batsman_sr[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:54: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '28.535714285714285' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_strike_rates_1'] += bowler_sr[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:55: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '8.060243902439025' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_economy_1'] += bowler_economy[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:56: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.03629536921151439' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_extras_1'] += bowler_extras[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '29.384615384615383' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'batsmens_averages_2'] += batsman_avg[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:63: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '115.06024096385543' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'batsmens_strike_rates_2'] += batsman_sr[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:65: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '14.142857142857142' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_strike_rates_2'] += bowler_sr[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:66: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '7.805238095238095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_economy_2'] += bowler_economy[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:67: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.03282828282828283' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_extras_2'] += bowler_extras[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:85: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2.028272251466206' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'batsmens_averages_ratios'] = train_data['batsmens_averages_1'][i] / train_data['batsmens_averages_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:86: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2.611097682281717' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'batsmens_strike_rates_ratios'] = train_data['batsmens_strike_rates_1'][i] / train_data['batsmens_strike_rates_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:87: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '4.6388046215074725' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_strike_rates_ratios'] = train_data['bowlers_strike_rates_1'][i] / train_data['bowlers_strike_rates_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:88: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2.3510677335280366' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_economy_ratios'] = train_data['bowlers_economy_1'][i] / train_data['bowlers_economy_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:89: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.7108938859307787' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_extras_ratios'] = train_data['bowlers_extras_1'][i] / train_data['bowlers_extras_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.1816881258941343' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'team_average_score_ratios'] = team1_average_score / team2_average_score
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '63.63636363636363' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'win_percentage_team2_last_15'] = win_percentage_last_n_matches(team2_id, date, 15)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:135: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.7659060402684562' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'batsmen_performance_ratio_last5'] = team1_bats_avg_strike_last5[0] / team2_bats_avg_strike_last5[0]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:143: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.7927966101694915' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_performance_ratio_last5'] = team1_bowlers_avg_perfor_last5[0] / team2_bowlers_avg_perfor_last5[0]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:148: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.8661738550466873' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'bowlers_economy_ratios_last5'] = team1_bowlers_avg_eco_last5[0] / team2_bowlers_avg_eco_last5[0]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:156: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.6923076923076923' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'team_sixes_ratios_last15'] = team1_sixes_last15[0] / team2_sixes_last15[0]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:164: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.1973684210526314' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'team_batsmen_above_fifty_ratios'] = team1_batsmen_above_fifty[0] / team2_batsmen_above_fifty[0]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:173: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2.585227272727273' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'team_batsmen_above_seventy_five_ratios'] = team1_batsmen_above_seventy_five[0] / team2_batsmen_above_seventy_five[0]

C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:122: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '53.333333333333336' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'win_percentage_team1_last_15'] = win_percentage_last_n_matches(team1_id, date, 15)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:97: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '33.33' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'team1_winp_team2_last5'] = winpCrossLastn(team1_id, team2_id, date, 5)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\854324185.py:98: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '33.33' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_data.at[i, 'team1_winp_team2_last10'] = winpCrossLastn(team1_id, team2_id, date, 10)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [698]:
# dropping team1_roster_ids , team2_roster_ids , winner , team1 , team2 ,  columns 
train_data = train_data.drop(['series_name','season','team1_roster_ids', 'team2_roster_ids', 'winner', 'team1', 'team2','batsmens_averages_1','batsmens_strike_rates_1','bowlers_strike_rates_1','bowlers_economy_1','bowlers_extras_1','batsmens_averages_2','batsmens_strike_rates_2','bowlers_strike_rates_2','bowlers_economy_2','bowlers_extras_2'], axis=1)

In [699]:
train_data.head(2)

,match id,team1_id,team2_id,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,batsmens_averages_ratios,batsmens_strike_rates_ratios,bowlers_strike_rates_ratios,bowlers_economy_ratios,bowlers_extras_ratios,team1_winp_team2_last5,team1_winp_team2_last10,team_average_score_ratios,win_percentage_team1_last_15,win_percentage_team2_last_15,batsmen_performance_ratio_last5,bowlers_performance_ratio_last5,bowlers_economy_ratios_last5,team_sixes_ratios_last15,team_batsmen_above_fifty_ratios,team_batsmen_above_seventy_five_ratios
0,9331181,11283,12634,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,7398,1.666667,0.672131,139.0,100.0,157.178571,2.028272,2.611098,4.638805,2.351068,1.710894,100.0,100.0,1.181688,60.0,63.636364,0.765906,0.792797,0.866174,1.692308,1.197368,0.000000
1,8797060,20,41,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,1406,1.285714,1.952381,156.0,50.0,103.500000,1.024794,0.966568,0.797703,0.807080,0.374242,50.0,50.0,0.999614,60.0,40.000000,0.918417,2.808974,0.807064,0.590164,1.745868,2.585227

In [700]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# List of categorical columns to encode
categorical_columns = ['toss winner', 'toss decision', 'venue', 'match_dt', 'lighting',  'city']

# Initialize the label encoder
label_encoder = LabelEncoder()

# Apply label encoding to each categorical column
for col in categorical_columns:
    train_data[col] = label_encoder.fit_transform(train_data[col])

# Display the first 5 rows of the dataframe
train_data.head(5)

,match id,team1_id,team2_id,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,batsmens_averages_ratios,batsmens_strike_rates_ratios,bowlers_strike_rates_ratios,bowlers_economy_ratios,bowlers_extras_ratios,team1_winp_team2_last5,team1_winp_team2_last10,team_average_score_ratios,win_percentage_team1_last_15,win_percentage_team2_last_15,batsmen_performance_ratio_last5,bowlers_performance_ratio_last5,bowlers_economy_ratios_last5,team_sixes_ratios_last15,team_batsmen_above_fifty_ratios,team_batsmen_above_seventy_five_ratios
0,9331181,11283,12634,12634,44,1,44,55,212,1,7398,1.666667,0.672131,139.000000,100.0,157.178571,2.028272,2.611098,4.638805,2.351068,1.710894,100.0,100.0,1.181688,60.000000,63.636364,0.765906,0.792797,0.866174,1.692308,1.197368,0.000000
1,8797060,20,41,20,138,1,53,13,20,1,1406,1.285714,1.952381,156.000000,50.0,103.500000,1.024794,0.966568,0.797703,0.807080,0.374242,50.0,50.0,0.999614,60.000000,40.000000,0.918417,2.808974,0.807064,0.590164,1.745868,2.585227
2,9433269,10576,8987,10576,81,1,111,83,370,1,251,0.857143,0.672131,173.266667,0.0,154.333333,1.000138,0.909712,0.850190,0.717828,1.024538,0.0,0.0,1.116027,40.000000,46.666667,0.894351,0.802434,1.069791,0.784314,0.770274,0.277903
3,9587073,36084,36070,36084,34,0,10,105,434,0,14300,2.166667,1.975610,164.266667,50.0,144.250000,1.116102,1.052218,0.813452,0.878287,0.700727,50.0,50.0,0.882667,60.000000,66.666667,1.424835,2.466747,0.840831,1.709677,0.922251,0.795991
4,9516457,30407,48341,48341,40,1,75,25,331,2,7118,0.818182,1.327869,164.666667,0.0,189.000000,1.035394,1.240634,1.084338,1.168234,1.480742,0.0,0.0,1.026700,53.333333,69.230769,1.074782,0.646214,0.987516,1.261905,0.835192,1.461586

In [701]:
# filling nan values with 0

train_data.fillna(0, inplace=True)

In [702]:
# changing column names of match id to match_id , toss winner to toss_winner , toss decision to toss_decision

train_data['match_id'] = train_data['match id']
train_data['toss_winner'] = train_data['toss winner']
train_data['toss_decision'] = train_data['toss decision']

train_data = train_data.drop(['match id', 'toss winner', 'toss decision'], axis=1)

## For test data also

In [703]:
# from geopy.geocoders import Nominatim

# # Initialize Nominatim API
# geolocator = Nominatim(user_agent="my_geocoder")

# Creating new columns in test_data and initializing with 0
test_data['batsmens_averages_1'] = 0
test_data['batsmens_strike_rates_1'] = 0
test_data['bowlers_strike_rates_1'] = 0
test_data['bowlers_economy_1'] = 0
test_data['bowlers_extras_1'] = 0

test_data['batsmens_averages_2'] = 0
test_data['batsmens_strike_rates_2'] = 0
test_data['bowlers_strike_rates_2'] = 0
test_data['bowlers_economy_2'] = 0
test_data['bowlers_extras_2'] = 0

test_data['batsmens_averages_ratios'] = 0
test_data['batsmens_strike_rates_ratios'] = 0
test_data['bowlers_strike_rates_ratios'] = 0
test_data['bowlers_economy_ratios'] = 0
test_data['bowlers_extras_ratios'] = 0

test_data['team1_winp_team2_last5']=0
test_data['team1_winp_team2_last10']=0
test_data['team_average_score_ratios'] = 0
test_data['win_percentage_team1_last_15'] = 0
test_data['win_percentage_team2_last_15'] = 0

test_data['batsmen_performance_ratio_last5'] = 0
test_data['bowlers_performance_ratio_last5'] = 0
test_data['bowlers_economy_ratios_last5'] = 0
test_data['team_sixes_ratios_last15'] = 0
test_data['team_batsmen_above_fifty_ratios'] = 0
test_data['team_batsmen_above_seventy_five_ratios'] = 0

# test_data['location_humidity'] = 0
# test_data['location_temperature'] = 0

# Filling the values in the new columns
for i in range(len(test_data)):
    # Getting ids of batsmen and bowlers from team roster id separated by :
    team1_players_ids = test_data['team1_roster_ids'][i].split(':')
    team2_players_ids = test_data['team2_roster_ids'][i].split(':')
    # print(i,team1_players_ids,team2_players_ids)
    # For team1 check if id is present in the dictionary and add the values
    for player_id in team1_players_ids:
        player_id = int(float(player_id))
        if player_id in batsman_avg:
            test_data.at[i, 'batsmens_averages_1'] += batsman_avg[player_id]
            test_data.at[i, 'batsmens_strike_rates_1'] += batsman_sr[player_id]
        if player_id in bowler_sr:
            test_data.at[i, 'bowlers_strike_rates_1'] += bowler_sr[player_id]
            test_data.at[i, 'bowlers_economy_1'] += bowler_economy[player_id]
            test_data.at[i, 'bowlers_extras_1'] += bowler_extras[player_id]
            
    # For team2 check if id is present in the dictionary and add the values
    for player_id in team2_players_ids:
        player_id = int(float(player_id))
        if player_id in batsman_avg:
            test_data.at[i, 'batsmens_averages_2'] += batsman_avg[player_id]
            test_data.at[i, 'batsmens_strike_rates_2'] += batsman_sr[player_id]
        if player_id in bowler_sr:
            test_data.at[i, 'bowlers_strike_rates_2'] += bowler_sr[player_id]
            test_data.at[i, 'bowlers_economy_2'] += bowler_economy[player_id]
            test_data.at[i, 'bowlers_extras_2'] += bowler_extras[player_id]
    
    # filling ratios
    if test_data['batsmens_averages_2'][i] == 0:
        test_data['batsmens_averages_2'][i] = 1
        
    if test_data['batsmens_strike_rates_2'][i] == 0:
        test_data['batsmens_strike_rates_2'][i] = 1
    if test_data['bowlers_strike_rates_2'][i] == 0:
        test_data['bowlers_strike_rates_2'][i] = 1
        
    if test_data['bowlers_economy_2'][i] == 0:
        test_data['bowlers_economy_2'][i] = 1
        
    if test_data['bowlers_extras_2'][i] == 0:
        test_data['bowlers_extras_2'][i] = 1
        
    
    test_data.at[i, 'batsmens_averages_ratios'] = test_data['batsmens_averages_1'][i] / test_data['batsmens_averages_2'][i]
    test_data.at[i, 'batsmens_strike_rates_ratios'] = test_data['batsmens_strike_rates_1'][i] / test_data['batsmens_strike_rates_2'][i]
    test_data.at[i, 'bowlers_strike_rates_ratios'] = test_data['bowlers_strike_rates_1'][i] / test_data['bowlers_strike_rates_2'][i]
    test_data.at[i, 'bowlers_economy_ratios'] = test_data['bowlers_economy_1'][i] / test_data['bowlers_economy_2'][i]
    test_data.at[i, 'bowlers_extras_ratios'] = test_data['bowlers_extras_1'][i] / test_data['bowlers_extras_2'][i]
    
    
    # filling team win% against each other in last 10 games
    team1_id = test_data['team1_id'][i]
    team2_id = test_data['team2_id'][i]
    date = test_data['match_dt'][i]
    
    test_data.at[i, 'team1_winp_team2_last5'] = winpCrossLastn(team1_id, team2_id, date, 5)
    test_data.at[i, 'team1_winp_team2_last10'] = winpCrossLastn(team1_id, team2_id, date, 10)

            
    # filling team average scores
    team1_id = test_data['team1_id'][i]
    team2_id = test_data['team2_id'][i]
    
    if team1_id in team_avg:
        team1_average_score= team_avg[team1_id]
    else:
        team1_average_score= 0
        
    if team2_id in team_avg:
        team2_average_score = team_avg[team2_id]
    else:
        team2_average_score = 0
    
    if team2_average_score == 0:
        test_data.at[i, 'team_average_score_ratios'] = 1
    
    else :
        test_data.at[i, 'team_average_score_ratios'] = team1_average_score / team2_average_score
    # filling win% of team1 in last 15 games from matchscore_updated
    
    test_data.at[i, 'win_percentage_team1_last_15'] = win_percentage_last_n_matches(team1_id, date, 15)
    test_data.at[i, 'win_percentage_team2_last_15'] = win_percentage_last_n_matches(team2_id, date, 15)
    
    team1_roster_ids = test_data['team1_roster_ids'][i]
    team2_roster_ids = test_data['team2_roster_ids'][i]
    match_date = test_data['match_dt'][i]
    
    team1_bats_avg_strike_last5 = team_bats_avg_strike_last5([team1_roster_ids], [match_date], batsman_lvl_data)
    team2_bats_avg_strike_last5 = team_bats_avg_strike_last5([team2_roster_ids], [match_date], batsman_lvl_data)
    if team2_bats_avg_strike_last5[0] == 0:
        test_data.at[i, 'batsmen_performance_ratio_last5'] = 0
        
    else:
        test_data.at[i, 'batsmen_performance_ratio_last5'] = team1_bats_avg_strike_last5[0] / team2_bats_avg_strike_last5[0]
        
    team1_bowlers_avg_perfor_last5, team1_bowlers_avg_eco_last5 = team_bowler_feat_last5([team1_roster_ids], [match_date], bowler_lvl_data)
    team2_bowlers_avg_perfor_last5, team2_bowlers_avg_eco_last5 = team_bowler_feat_last5([team2_roster_ids], [match_date], bowler_lvl_data)
    
    if team2_bowlers_avg_perfor_last5[0] == 0:
        test_data.at[i, 'bowlers_performance_ratio_last5'] = 0
    else:
        test_data.at[i, 'bowlers_performance_ratio_last5'] = team1_bowlers_avg_perfor_last5[0] / team2_bowlers_avg_perfor_last5[0]
    
    if team2_bowlers_avg_eco_last5[0] == 0:
        test_data.at[i, 'bowlers_economy_ratios_last5'] = 0
    else:
        test_data.at[i, 'bowlers_economy_ratios_last5'] = team1_bowlers_avg_eco_last5[0] / team2_bowlers_avg_eco_last5[0]
        
    team1_sixes_last15 = calculate_sixes_last15_games([team1_roster_ids], [match_date], batsman_lvl_data)
    team2_sixes_last15 = calculate_sixes_last15_games([team2_roster_ids], [match_date], batsman_lvl_data)
    
    if team2_sixes_last15[0] == 0:  
        test_data.at[i, 'team_sixes_ratios_last15'] = 0
    else:
        test_data.at[i, 'team_sixes_ratios_last15'] = team1_sixes_last15[0] / team2_sixes_last15[0]
        
    team1_batsmen_above_fifty = calculate_batsmen_above_fifty([team1_roster_ids], [match_date], batsman_lvl_data)
    team2_batsmen_above_fifty = calculate_batsmen_above_fifty([team2_roster_ids], [match_date], batsman_lvl_data)
    
    if team2_batsmen_above_fifty[0] == 0:
        test_data.at[i, 'team_batsmen_above_fifty_ratios'] = 0
    else:
        test_data.at[i, 'team_batsmen_above_fifty_ratios'] = team1_batsmen_above_fifty[0] / team2_batsmen_above_fifty[0]
    
    team1_batsmen_above_seventy_five = calculate_batsmen_above_seventy_five([team1_roster_ids], [match_date], batsman_lvl_data)
    team2_batsmen_above_seventy_five = calculate_batsmen_above_seventy_five([team2_roster_ids], [match_date], batsman_lvl_data)
    
    if team2_batsmen_above_seventy_five[0] == 0:
        test_data.at[i, 'team_batsmen_above_seventy_five_ratios'] = 0
        
    else:
        test_data.at[i, 'team_batsmen_above_seventy_five_ratios'] = team1_batsmen_above_seventy_five[0] / team2_batsmen_above_seventy_five[0]

C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '16.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'batsmens_averages_1'] += batsman_avg[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '147.27272727272725' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'batsmens_strike_rates_1'] += batsman_sr[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:55: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '4.25' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_economy_1'] += bowler_economy[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:56: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.041666666666666664' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_extras_1'] += bowler_extras[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '29.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'batsmens_averages_2'] += batsman_avg[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:63: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '129.82456140350877' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'batsmens_strike_rates_2'] += batsman_sr[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:66: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.75' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_economy_2'] += bowler_economy[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:65: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '10.666666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_strike_rates_2'] += bowler_sr[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:67: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.03125' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_extras_2'] += bowler_extras[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:85: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.580852932565629' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'batsmens_averages_ratios'] = test_data['batsmens_averages_1'][i] / test_data['batsmens_averages_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:86: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.44369772245797456' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'batsmens_strike_rates_ratios'] = test_data['batsmens_strike_rates_1'][i] / test_data['batsmens_strike_rates_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:87: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.9627023223082337' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_strike_rates_ratios'] = test_data['bowlers_strike_rates_1'][i] / test_data['bowlers_strike_rates_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:88: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.43947943881604273' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_economy_ratios'] = test_data['bowlers_economy_1'][i] / test_data['bowlers_economy_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:89: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.313131313131313' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_extras_ratios'] = test_data['bowlers_extras_1'][i] / test_data['bowlers_extras_2'][i]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.9757785467128027' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'team_average_score_ratios'] = team1_average_score / team2_average_score
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:135: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.3002428466133486' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'batsmen_performance_ratio_last5'] = team1_bats_avg_strike_last5[0] / team2_bats_avg_strike_last5[0]
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:156: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.07692307692307693' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'team_sixes_ratios_last15'] = team1_sixes_last15[0] / team2_sixes_last15[0]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:54: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '17.75' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'bowlers_strike_rates_1'] += bowler_sr[player_id]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:97: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '66.67' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'team1_winp_team2_last5'] = winpCrossLastn(team1_id, team2_id, date, 5)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:98: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '66.67' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'team1_winp_team2_last10'] = winpCrossLastn(team1_id, team2_id, date, 10)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:122: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '42.857142857142854' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'win_percentage_team1_last_15'] = win_percentage_last_n_matches(team1_id, date, 15)
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '46.666666666666664' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'win_percentage_team2_last_15'] = win_percentage_last_n_matches(team2_id, date, 15)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:164: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.0114200595829195' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'team_batsmen_above_fifty_ratios'] = team1_batsmen_above_fifty[0] / team2_batsmen_above_fifty[0]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:173: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.3726415094339623' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_data.at[i, 'team_batsmen_above_seventy_five_ratios'] = team1_batsmen_above_seventy_five[0] / team2_batsmen_above_seventy_five[0]
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['bowlers_extras_2'][i] = 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\2342209179.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['bowlers_extras_2'][i] = 1
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [704]:
# dropping team1_roster_ids , team2_roster_ids , winner , team1 , team2 ,  columns 
test_data = test_data.drop(['series_name','season','team1_roster_ids', 'team2_roster_ids','team1', 'team2','batsmens_averages_1','batsmens_strike_rates_1','bowlers_strike_rates_1','bowlers_economy_1','bowlers_extras_1','batsmens_averages_2','batsmens_strike_rates_2','bowlers_strike_rates_2','bowlers_economy_2','bowlers_extras_2'], axis=1)

In [705]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# List of categorical columns to encode
categorical_columns = ['toss winner', 'toss decision', 'venue', 'match_dt', 'lighting', 'city']

# Initialize the label encoder
label_encoder = LabelEncoder()

# Apply label encoding to each categorical column
for col in categorical_columns:
    test_data[col] = label_encoder.fit_transform(test_data[col])

# Display the first 5 rows of the dataframe
test_data.head(5)

,match id,team1_id,team2_id,toss winner,toss decision,venue,city,match_dt,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,batsmens_averages_ratios,batsmens_strike_rates_ratios,bowlers_strike_rates_ratios,bowlers_economy_ratios,bowlers_extras_ratios,team1_winp_team2_last5,team1_winp_team2_last10,team_average_score_ratios,win_percentage_team1_last_15,win_percentage_team2_last_15,batsmen_performance_ratio_last5,bowlers_performance_ratio_last5,bowlers_economy_ratios_last5,team_sixes_ratios_last15,team_batsmen_above_fifty_ratios,team_batsmen_above_seventy_five_ratios
0,9250275,28594,90,104,1,11,13,58,0,3226,0.000000,0.019608,NaN,0.00,NaN,0.580853,0.443698,0.962702,0.439479,1.313131,0.00,0.00,0.975779,0.000000,50.000000,0.300243,NaN,NaN,0.076923,0.000000,0.000000
1,9262189,36084,36098,40,1,59,70,89,2,13915,0.615385,0.344262,151.285714,66.67,153.500,1.089279,1.091648,0.840087,0.961859,0.787592,66.67,66.67,1.055190,42.857143,46.666667,1.017284,1.133359,0.928929,0.937500,1.011420,1.372642
2,9128776,30428,48334,82,0,8,58,40,2,2764,0.842105,0.753086,171.066667,100.00,179.625,1.080138,0.955992,0.771592,0.993761,0.900654,100.00,100.00,1.054849,46.666667,77.777778,0.906726,0.837286,1.123313,1.117647,1.025210,1.056277
3,9586919,36098,36112,92,1,23,38,195,2,11892,0.285714,1.487805,166.000000,75.00,155.500,0.871249,0.848296,0.845522,0.870841,0.731058,75.00,75.00,0.888040,53.333333,40.000000,0.648555,2.125587,0.960721,0.608696,0.309804,0.263333
4,9128538,30414,48341,31,1,46,71,34,2,18752,2.375000,0.310330,169.933333,0.00,164.125,1.107382,1.166437,0.963643,1.001825,0.946688,0.00,0.00,0.984463,46.666667,66.666667,1.238929,0.393975,1.171551,2.000000,1.730696,2.562762

In [706]:
# filling nan values with 0

test_data.fillna(0, inplace=True)

In [707]:
# changing column names of match id to match_id , toss winner to toss_winner , toss decision to toss_decision

test_data['match_id'] = test_data['match id']
test_data['toss_winner'] = test_data['toss winner']
test_data['toss_decision'] = test_data['toss decision']

test_data = test_data.drop(['match id', 'toss winner', 'toss decision'], axis=1)

In [708]:
test_data.head(15)

,team1_id,team2_id,venue,city,match_dt,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,batsmens_averages_ratios,batsmens_strike_rates_ratios,bowlers_strike_rates_ratios,bowlers_economy_ratios,bowlers_extras_ratios,team1_winp_team2_last5,team1_winp_team2_last10,team_average_score_ratios,win_percentage_team1_last_15,win_percentage_team2_last_15,batsmen_performance_ratio_last5,bowlers_performance_ratio_last5,bowlers_economy_ratios_last5,team_sixes_ratios_last15,team_batsmen_above_fifty_ratios,team_batsmen_above_seventy_five_ratios,match_id,toss_winner,toss_decision
0,28594,90,11,13,58,0,3226,0.000000,0.019608,0.000000,0.00,0.000000,0.580853,0.443698,0.962702,0.439479,1.313131,0.00,0.00,0.975779,0.000000,50.000000,0.300243,0.000000,0.000000,0.076923,0.000000,0.000000,9250275,104,1
1,36084,36098,59,70,89,2,13915,0.615385,0.344262,151.285714,66.67,153.500000,1.089279,1.091648,0.840087,0.961859,0.787592,66.67,66.67,1.055190,42.857143,46.666667,1.017284,1.133359,0.928929,0.937500,1.011420,1.372642,9262189,40,1
2,30428,48334,8,58,40,2,2764,0.842105,0.753086,171.066667,100.00,179.625000,1.080138,0.955992,0.771592,0.993761,0.900654,100.00,100.00,1.054849,46.666667,77.777778,0.906726,0.837286,1.123313,1.117647,1.025210,1.056277,9128776,82,0
3,36098,36112,23,38,195,2,11892,0.285714,1.487805,166.000000,75.00,155.500000,0.871249,0.848296,0.845522,0.870841,0.731058,75.00,75.00,0.888040,53.333333,40.000000,0.648555,2.125587,0.960721,0.608696,0.309804,0.263333,9586919,92,1
4,30414,48341,46,71,34,2,18752,2.375000,0.310330,169.933333,0.00,164.125000,1.107382,1.166437,0.963643,1.001825,0.946688,0.00,0.00,0.984463,46.666667,66.666667,1.238929,0.393975,1.171551,2.000000,1.730696,2.562762,9128538,31,1
5,30407,30435,57,20,166,2,7118,0.400000,0.672131,177.066667,50.00,184.500000,0.941093,0.995272,1.001928,0.934268,0.736990,50.00,50.00,1.018264,46.666667,40.000000,0.862513,-4.472477,0.901007,0.956522,0.579996,0.968807,9516653,57,1
6,36014,30414,45,23,161,2,2050,0.681818,0.344262,183.466667,25.00,156.350000,0.921257,1.034135,0.921563,0.955612,0.797946,25.00,25.00,1.028385,40.000000,53.333333,1.105788,0.822466,1.014703,0.822222,0.735842,0.634871,9516534,12,1
7,9701,6698,81,81,57,2,1042,3.200000,0.603960,163.066667,0.00,177.321429,0.937888,1.114808,0.635880,0.685779,1.635887,0.00,0.00,0.961671,66.666667,66.666667,0.928353,6.457020,0.801164,1.727273,1.140684,1.267427,9085474,19,1
8,7727,7573,82,76,184,1,8301,2.428571,2.904762,167.000000,100.00,151.600000,1.301483,1.165019,1.046915,0.940972,1.415819,100.00,100.00,0.991761,80.000000,40.000000,1.060601,2.122972,0.825663,1.566667,1.912002,1.333955,9433752,30,1
9,30428,36014,67,42,153,1,13880,1.727273,21.000000,171.066667,66.67,186.500000,1.161314,1.008119,0.596095,1.011756,1.146592,66.67,66.67,0.989076,46.666667,33.333333,1.106032,-0.051787,1.335084,1.433333,1.523553,1.287834,9516359,89,1
10,36098,38814,61,68,85,0,1469,1.714286,1.487805,168.800000,66.67,134.000000,0.946698,0.979051,1.026418,0.973538,1.186959,66.67,66.67,0.861192,46.666667,57.142857,1.011294,1.672006,1.068272,1.362637,1.018598,0.763948,9262133,91,1
11,202,272,91,32,204,2,20502,1.500000,1.952381,157.333333,0.00,140.500000,1.012518,1.010697,1.538581,0.712175,0.753047,0.00,0.00,1.135907,53.333333,14.285714,1.272676,1.635701,0.955076,2.166667,2.740741,0.000000,9782086,103,0
12,47487,47501,63,26,117,2,7041,0.600000,0.506173,158.200000,0.00,132.000000,1.031492,1.027123,1.207781,1.138782,1.351469,0.00,0.00,1.163217,40.000000,80.000000,1.004386,-0.059035,1.414765,0.974359,0.975919,0.278834,9271807,39,1
13,48,202,22,33,196,2,17086,3.400000,1.487805,176.066667,0.00,144.933333,1.604579,1.457516,1.111371,1.384021,2.114873,0.00,0.00,0.973327,66.666667,64.285714,1.932345,0.424984,1.907346,5.100000,0.869565,0.260870,9644102,103,1
14,188,62,38,25,94,0,664,0.444444,0.024390,140.533333,0.00,156.633333,0.589116,0.807088,1.172487,1.405161,1.686281,0.00,0.00,0.852433,6.666667,40.000000,1.071596,6.616365,1.039626,0.712500,0.225936,0.071128,9256386,6,0

In [709]:
train_data.shape
test_data.shape

(948, 32)

(271, 31)

In [710]:
new_test_data = test_data

In [711]:
new_train_data=train_data

In [712]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import GradientBoostingClassifier
import lightgbm as lgb
import xgboost as xgb
from catboost import CatBoostClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler

X_train = train_data.drop(['winner_id'], axis=1)
y_train = train_data['winner_id']

X_test = test_data

In [713]:
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE

In [714]:
unique_classes = np.unique(y_train)
single_occurrence_classes = [c for c in unique_classes if np.sum(y_train == c) == 1]

# Oversample each single-occurrence class to 8 instances
oversampled_X_train = []

oversampled_y = []
for class_label in single_occurrence_classes:
    class_X_train = X_train[y_train == class_label]
    class_y = y_train[y_train == class_label]
    oversampled_X_train.extend([class_X_train] * (8 - len(class_X_train)))
    oversampled_y.extend([class_y] * (8 - len(class_y)))

# Concatenate the oversampled data with the original data
X_train_resampled = np.concatenate([X_train] + oversampled_X_train)
y_resampled = np.concatenate([y_train] + oversampled_y)

In [715]:
# i79 = np.where(y_test == 79)[0][0]
# i79

In [716]:
# Initialize SMOTE
smote = SMOTE(random_state=101, k_neighbors=1)

# Apply SMOTE to the entire dataset
X_train, y_train = smote.fit_resample(X_train_resampled, y_resampled)

In [717]:
# Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [718]:
# CatBoost
# cat_model = CatBoostClassifier()
# cat_model.fit(X_train, y_train)

# cat_accuracy = accuracy_score(y_test, cat_pred)
# cat_f1 = f1_score(y_test, cat_pred, average='macro')

In [719]:
test_data.shape

(271, 31)

In [720]:
X_test.shape

(271, 31)

In [721]:
# cat_model.predict(X_test)

In [722]:
new_test_data.head(5)

,team1_id,team2_id,venue,city,match_dt,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,batsmens_averages_ratios,batsmens_strike_rates_ratios,bowlers_strike_rates_ratios,bowlers_economy_ratios,bowlers_extras_ratios,team1_winp_team2_last5,team1_winp_team2_last10,team_average_score_ratios,win_percentage_team1_last_15,win_percentage_team2_last_15,batsmen_performance_ratio_last5,bowlers_performance_ratio_last5,bowlers_economy_ratios_last5,team_sixes_ratios_last15,team_batsmen_above_fifty_ratios,team_batsmen_above_seventy_five_ratios,match_id,toss_winner,toss_decision
0,28594,90,11,13,58,0,3226,0.000000,0.019608,0.000000,0.00,0.000,0.580853,0.443698,0.962702,0.439479,1.313131,0.00,0.00,0.975779,0.000000,50.000000,0.300243,0.000000,0.000000,0.076923,0.000000,0.000000,9250275,104,1
1,36084,36098,59,70,89,2,13915,0.615385,0.344262,151.285714,66.67,153.500,1.089279,1.091648,0.840087,0.961859,0.787592,66.67,66.67,1.055190,42.857143,46.666667,1.017284,1.133359,0.928929,0.937500,1.011420,1.372642,9262189,40,1
2,30428,48334,8,58,40,2,2764,0.842105,0.753086,171.066667,100.00,179.625,1.080138,0.955992,0.771592,0.993761,0.900654,100.00,100.00,1.054849,46.666667,77.777778,0.906726,0.837286,1.123313,1.117647,1.025210,1.056277,9128776,82,0
3,36098,36112,23,38,195,2,11892,0.285714,1.487805,166.000000,75.00,155.500,0.871249,0.848296,0.845522,0.870841,0.731058,75.00,75.00,0.888040,53.333333,40.000000,0.648555,2.125587,0.960721,0.608696,0.309804,0.263333,9586919,92,1
4,30414,48341,46,71,34,2,18752,2.375000,0.310330,169.933333,0.00,164.125,1.107382,1.166437,0.963643,1.001825,0.946688,0.00,0.00,0.984463,46.666667,66.666667,1.238929,0.393975,1.171551,2.000000,1.730696,2.562762,9128538,31,1

In [723]:
team1_ids = new_test_data['team1_id']
team2_ids = new_test_data['team2_id']

In [724]:
import xgboost as xgb
import numpy as np
import pandas as pd


# Ensure y_train contains zero-indexed integer labels
unique_classes = np.unique(y_train)
class_to_index = {label: idx for idx, label in enumerate(unique_classes)}
y_train_indexed = np.array([class_to_index[label] for label in y_train])

# Create DMatrix for training and testing
xgb_train = xgb.DMatrix(X_train, label=y_train_indexed, enable_categorical=True)
xgb_test = xgb.DMatrix(X_test, enable_categorical=True)  # No label for xgb_test

# Define parameters and add num_class
n = 139
params = {
    'objective': 'multi:softprob',
    'max_depth': 6,
    'learning_rate': 0.2, 'subsample': 0.7, 'colsample_bytree': 0.9,
    'num_class': len(set(y_train))  # Number of unique classes
    
}

# Train the model
xgb_model = xgb.train(params=params, dtrain=xgb_train, num_boost_round=n)

# Make predictions
xgb_preds = xgb_model.predict(xgb_test)

# Compare probabilities and assign the team with higher probability
y_pred_01 = []
win_prob=[]
for i in range(len(xgb_preds)):
    team1_id = team1_ids[i]
    team2_id = team2_ids[i]
    
    team1_index = class_to_index.get(team1_id, -1)
    team2_index = class_to_index.get(team2_id, -1)
    
    if team1_index == -1 and team2_index == -1:
        y_pred_01.append(team1_id)
        win_prob.append(0)
        
        continue
        # raise ValueError(f"Team ID {team1_id} or {team2_id} not found in class_to_index mapping.")
    
    team1_prob = xgb_preds[i][team1_index]  # Probability for team1_id
    team2_prob = xgb_preds[i][team2_index]  # Probability for team2_id
    
    if team1_prob > team2_prob:
        y_pred_01.append(team1_id)  # team1_id
        win_prob.append(team1_prob)
    else:
        y_pred_01.append(team2_id)  # team2_id
        win_prob.append(team2_prob)

# Print predictions
# print(f'Predicted class labels for X_test: {y_pred_01}')

In [725]:
# printing winning team along with their winning probability
for i in range(len(y_pred_01)):
    print(f"Match {i+1}: {y_pred_01[i]} with probability {win_prob[i]}")

Match 1: 90 with probability 0.0009046654449775815
Match 2: 36084 with probability 0.42845436930656433
Match 3: 30428 with probability 0.16140346229076385
Match 4: 36098 with probability 0.06657750904560089
Match 5: 48341 with probability 0.8800460696220398
Match 6: 30407 with probability 0.10263784974813461
Match 7: 30414 with probability 0.7234331965446472
Match 8: 6698 with probability 0.5003462433815002
Match 9: 7727 with probability 0.14492301642894745
Match 10: 30428 with probability 0.0011194198159500957
Match 11: 36098 with probability 0.2747907340526581
Match 12: 202 with probability 0.14626243710517883
Match 13: 47501 with probability 0.7284798622131348
Match 14: 48 with probability 0.6446639895439148
Match 15: 62 with probability 0.5444321036338806
Match 16: 33921 with probability 0.05497395247220993
Match 17: 6698 with probability 0.8874927163124084
Match 18: 20 with probability 0.8439624905586243
Match 19: 36070 with probability 0.7795150876045227
Match 20: 36070 with probability 0.2769355773925781
Match 21: 48341 with probability 0.5222752094268799
Match 22: 10366 with probability 0.8638879656791687
Match 23: 33942 with probability 0.7067514061927795
Match 24: 42573 with probability 0.07520601153373718
Match 25: 9701 with probability 0.3041587471961975
Match 26: 30414 with probability 0.7169049382209778
Match 27: 45926 with probability 0
Match 28: 251 with probability 0.011785889975726604
Match 29: 9701 with probability 0.31408536434173584
Match 30: 7258 with probability 0.24047894775867462
Match 31: 188 with probability 0.16303865611553192
Match 32: 47529 with probability 0.09007623791694641
Match 33: 23750 with probability 0.07547581940889359
Match 34: 47480 with probability 0.750956118106842
Match 35: 27 with probability 0.3156875967979431
Match 36: 47529 with probability 0.5439523458480835
Match 37: 9967 with probability 0.16968342661857605
Match 38: 10576 with probability 0.9118604063987732
Match 39: 11591 with probability 0.8673637509346008
Match 40: 33921 with probability 0.03225300461053848
Match 41: 48 with probability 0.3871404230594635
Match 42: 48341 with probability 0.8050392270088196
Match 43: 55 with probability 0.9184318780899048
Match 44: 40298 with probability 0.3833499550819397
Match 45: 40298 with probability 0.7366963624954224
Match 46: 9701 with probability 0.06697167456150055
Match 47: 47529 with probability 0.023346135392785072
Match 48: 36084 with probability 0.03256744518876076
Match 49: 33928 with probability 0.18203309178352356
Match 50: 15301 with probability 0.24575427174568176
Match 51: 12473 with probability 0.8237329721450806
Match 52: 293 with probability 0.8423283100128174
Match 53: 14454 with probability 0.0194625873118639
Match 54: 7258 with probability 0.6030964851379395
Match 55: 40578 with probability 0.012787668034434319
Match 56: 47501 with probability 0.7392391562461853
Match 57: 40564 with probability 0.2023775428533554
Match 58: 48922 with probability 0.012649372220039368
Match 59: 33935 with probability 0.7951027750968933
Match 60: 62 with probability 0.3951278328895569
Match 61: 55 with probability 0.5043158531188965
Match 62: 55 with probability 0.9767262935638428
Match 63: 6698 with probability 0.9038991332054138
Match 64: 30421 with probability 0.11789200454950333
Match 65: 6698 with probability 0.9724527597427368
Match 66: 55 with probability 0.3788309693336487
Match 67: 33935 with probability 0.5818145275115967
Match 68: 14454 with probability 0.10768371820449829
Match 69: 30393 with probability 0.24803636968135834
Match 70: 48334 with probability 0.6547307372093201
Match 71: 48 with probability 0.1743422895669937
Match 72: 7727 with probability 0.024737665429711342
Match 73: 12718 with probability 0.003369702026247978
Match 74: 188 with probability 0.12295270711183548
Match 75: 7608 with probability 0.24459734559059143
Match 76: 55 with probability 0.46083393692970276
Match 77: 46759 with probability 0.3589632213115692
Match 78: 33921 with probability 0.5954276323318481
Match 79: 62 with probability 0.6389850378036499
Match 80: 30421 with probability 0.3187670409679413
Match 81: 33928 with probability 0.006372017785906792
Match 82: 188 with probability 0.4246920347213745
Match 83: 48733 with probability 0.3016848564147949
Match 84: 40298 with probability 0.0994129404425621
Match 85: 44904 with probability 0.8412714600563049
Match 86: 40550 with probability 0.07715755701065063
Match 87: 30393 with probability 0.4992206394672394
Match 88: 7727 with probability 0.4816301465034485
Match 89: 47508 with probability 0.021293602883815765
Match 90: 11591 with probability 0.009674545377492905
Match 91: 30421 with probability 0.5228024125099182
Match 92: 6698 with probability 0.37930068373680115
Match 93: 30393 with probability 0.5031047463417053
Match 94: 40298 with probability 0.8805814981460571
Match 95: 10618 with probability 0.07574246823787689
Match 96: 55 with probability 0.7774948477745056
Match 97: 7258 with probability 0.8688928484916687
Match 98: 40298 with probability 0.6905133128166199
Match 99: 202 with probability 0.1555405557155609
Match 100: 10576 with probability 0.7925508618354797
Match 101: 216 with probability 0.5406217575073242
Match 102: 35790 with probability 0.055239081382751465
Match 103: 13474 with probability 0.004329825285822153
Match 104: 33921 with probability 0.12078175693750381
Match 105: 33942 with probability 0.05198841542005539
Match 106: 17583 with probability 0.023765254765748978
Match 107: 36070 with probability 0.6570285558700562
Match 108: 27 with probability 0.8310080170631409
Match 109: 216 with probability 0.1150098517537117
Match 110: 7727 with probability 0.6973153948783875
Match 111: 40606 with probability 0.947549045085907
Match 112: 8987 with probability 0.033489566296339035
Match 113: 30407 with probability 0.01732252538204193
Match 114: 55 with probability 0.19017817080020905
Match 115: 8987 with probability 0.014401371590793133
Match 116: 30428 with probability 0.6810314655303955
Match 117: 35790 with probability 0.743991494178772
Match 118: 22784 with probability 0.004076634533703327
Match 119: 48 with probability 0.7733967900276184
Match 120: 45072 with probability 0.9923315048217773
Match 121: 20 with probability 0.11203957349061966
Match 122: 33914 with probability 0.9797383546829224
Match 123: 47487 with probability 0.06657569110393524
Match 124: 33949 with probability 0.019298488274216652
Match 125: 40298 with probability 0.6499873399734497
Match 126: 36098 with probability 0.08299916237592697
Match 127: 23841 with probability 0.012477949261665344
Match 128: 40550 with probability 0.5676984786987305
Match 129: 90 with probability 0.002248100470751524
Match 130: 11591 with probability 0.953883171081543
Match 131: 76 with probability 0.004969886038452387
Match 132: 55 with probability 0.7711438536643982
Match 133: 48 with probability 0.45630520582199097
Match 134: 30407 with probability 0.06225087493658066
Match 135: 23841 with probability 0.024794502183794975
Match 136: 33963 with probability 0.04331456869840622
Match 137: 46780 with probability 0.5308775901794434
Match 138: 11465 with probability 0.0008943572174757719
Match 139: 40452 with probability 0.034630272537469864
Match 140: 62 with probability 0.05608857050538063
Match 141: 11157 with probability 0.000690004788339138
Match 142: 48334 with probability 0.9924680590629578
Match 143: 40592 with probability 0.024269944056868553
Match 144: 48950 with probability 0.0833776667714119
Match 145: 17744 with probability 0.25549688935279846
Match 146: 48 with probability 0.9727888107299805
Match 147: 47494 with probability 0.008075001649558544
Match 148: 8182 with probability 0.32723185420036316
Match 149: 10366 with probability 0.35291892290115356
Match 150: 33935 with probability 0.9681307673454285
Match 151: 6698 with probability 0.3886900842189789
Match 152: 46738 with probability 0.009657932445406914
Match 153: 36014 with probability 0.028810899704694748
Match 154: 62 with probability 0.2897118926048279
Match 155: 48334 with probability 0.008381363935768604
Match 156: 33949 with probability 0.8267972469329834
Match 157: 17653 with probability 0.8645318746566772
Match 158: 40452 with probability 0.14806868135929108
Match 159: 48943 with probability 0.2991429269313812
Match 160: 76 with probability 0.5613166689872742
Match 161: 30428 with probability 0.4714001417160034
Match 162: 55 with probability 0.6034212112426758
Match 163: 17653 with probability 0.1537093073129654
Match 164: 76 with probability 0.01872154511511326
Match 165: 47508 with probability 0.050697166472673416
Match 166: 45940 with probability 0
Match 167: 48 with probability 0.3332827091217041
Match 168: 48341 with probability 0.6441470384597778
Match 169: 17583 with probability 0.016138512641191483
Match 170: 40592 with probability 0.9478772878646851
Match 171: 40424 with probability 0.009818877093493938
Match 172: 42573 with probability 0.8847036957740784
Match 173: 45933 with probability 0.009962317533791065
Match 174: 69 with probability 0.7850157022476196
Match 175: 47501 with probability 0.6638263463973999
Match 176: 48334 with probability 0.8949710130691528
Match 177: 195 with probability 0.00021731833112426102
Match 178: 46731 with probability 0.7977959513664246
Match 179: 10366 with probability 0.2166147232055664
Match 180: 8917 with probability 0.9545268416404724
Match 181: 216 with probability 0.6187467575073242
Match 182: 40452 with probability 0.622069239616394
Match 183: 34 with probability 0.8948550224304199
Match 184: 36070 with probability 0.9404759407043457
Match 185: 17982 with probability 0.9941771030426025
Match 186: 23113 with probability 0.04193780571222305
Match 187: 49650 with probability 0.5257907509803772
Match 188: 251 with probability 0.9780844449996948
Match 189: 41 with probability 0.9390237331390381
Match 190: 33935 with probability 0.9505227208137512
Match 191: 188 with probability 0.6463650465011597
Match 192: 13957 with probability 0.0029390824493020773
Match 193: 188 with probability 0.8643214702606201
Match 194: 30400 with probability 0.41554364562034607
Match 195: 10366 with probability 0.1193833127617836
Match 196: 12718 with probability 0.0030719959177076817
Match 197: 48 with probability 0.5436131358146667
Match 198: 146 with probability 0.020990971475839615
Match 199: 10366 with probability 0.3430655002593994
Match 200: 8700 with probability 0.052084244787693024
Match 201: 40550 with probability 0.2514650821685791
Match 202: 36084 with probability 0.08494356274604797
Match 203: 40550 with probability 0.0512465201318264
Match 204: 42573 with probability 0.09416032582521439
Match 205: 76 with probability 0.06365764141082764
Match 206: 33935 with probability 0.550632119178772
Match 207: 62 with probability 0.41373011469841003
Match 208: 14454 with probability 0.023700442165136337
Match 209: 76 with probability 0.49072694778442383
Match 210: 46745 with probability 0.18520529568195343
Match 211: 251 with probability 0.024431981146335602
Match 212: 36098 with probability 0.05360642075538635
Match 213: 8917 with probability 0.9386997818946838
Match 214: 46752 with probability 0.033539384603500366
Match 215: 48341 with probability 0.5957276821136475
Match 216: 46773 with probability 0.5486600995063782
Match 217: 46745 with probability 0.6892254948616028
Match 218: 46738 with probability 0.03834223747253418
Match 219: 18570 with probability 0.5147455930709839
Match 220: 118 with probability 0.0015954076079651713
Match 221: 22763 with probability 0.023119140416383743
Match 222: 40550 with probability 0.46939289569854736
Match 223: 7608 with probability 0.021623903885483742
Match 224: 6698 with probability 0.5072668194770813
Match 225: 30428 with probability 0.9082874059677124
Match 226: 22497 with probability 0.007910335436463356
Match 227: 8700 with probability 0.0383509062230587
Match 228: 46759 with probability 0.10357215255498886
Match 229: 8917 with probability 0.012606156058609486
Match 230: 40578 with probability 0.5620062351226807
Match 231: 47487 with probability 0.026711102575063705
Match 232: 8700 with probability 0.3672320246696472
Match 233: 7727 with probability 0.02067720703780651
Match 234: 46731 with probability 0.9637742042541504
Match 235: 40606 with probability 0.9797114729881287
Match 236: 769 with probability 0.4295714199542999
Match 237: 251 with probability 0.020624704658985138
Match 238: 33956 with probability 0.5119689106941223
Match 239: 40578 with probability 0.09473522752523422
Match 240: 23869 with probability 0.07171744853258133
Match 241: 22763 with probability 0.00746070547029376
Match 242: 46745 with probability 0.11363062262535095
Match 243: 8987 with probability 0.9343158602714539
Match 244: 33914 with probability 0.8559218645095825
Match 245: 48 with probability 0.5582464933395386
Match 246: 40578 with probability 0.5408183932304382
Match 247: 44904 with probability 0.5118584632873535
Match 248: 46780 with probability 0.17560964822769165
Match 249: 237 with probability 0.009578799828886986
Match 250: 30400 with probability 0.6397113800048828
Match 251: 27 with probability 0.9945175051689148
Match 252: 33914 with probability 0.48128628730773926
Match 253: 10618 with probability 0.3170996606349945
Match 254: 30400 with probability 0.008216786198318005
Match 255: 40606 with probability 0.4914022982120514
Match 256: 33928 with probability 0.5060526728630066
Match 257: 30414 with probability 0.804506242275238
Match 258: 23113 with probability 0.0699017122387886
Match 259: 36098 with probability 0.6569691896438599
Match 260: 9876 with probability 0.7921449542045593
Match 261: 251 with probability 0.055931687355041504
Match 262: 23750 with probability 0.11732558906078339
Match 263: 36098 with probability 0.06624140590429306
Match 264: 15497 with probability 0.004995374474674463
Match 265: 33921 with probability 0.6314106583595276
Match 266: 55 with probability 0.5013881921768188
Match 267: 46773 with probability 0.03055724687874317
Match 268: 55 with probability 0.918601393699646
Match 269: 7573 with probability 0.1432034820318222
Match 270: 33963 with probability 0.33190280199050903
Match 271: 33928 with probability 0.9851133823394775

In [726]:
# adding y_pred_01 to test_data
new_test_data['win_pred_team_id'] = y_pred_01

In [727]:
# adding winning probability to test_data
new_test_data['win_pred_score'] = win_prob

In [728]:
new_test_data.head(10)

,team1_id,team2_id,venue,city,match_dt,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,batsmens_averages_ratios,batsmens_strike_rates_ratios,bowlers_strike_rates_ratios,bowlers_economy_ratios,bowlers_extras_ratios,team1_winp_team2_last5,team1_winp_team2_last10,team_average_score_ratios,win_percentage_team1_last_15,win_percentage_team2_last_15,batsmen_performance_ratio_last5,bowlers_performance_ratio_last5,bowlers_economy_ratios_last5,team_sixes_ratios_last15,team_batsmen_above_fifty_ratios,team_batsmen_above_seventy_five_ratios,match_id,toss_winner,toss_decision,win_pred_team_id,win_pred_score
0,28594,90,11,13,58,0,3226,0.000000,0.019608,0.000000,0.00,0.000000,0.580853,0.443698,0.962702,0.439479,1.313131,0.00,0.00,0.975779,0.000000,50.000000,0.300243,0.000000,0.000000,0.076923,0.000000,0.000000,9250275,104,1,90,0.000905
1,36084,36098,59,70,89,2,13915,0.615385,0.344262,151.285714,66.67,153.500000,1.089279,1.091648,0.840087,0.961859,0.787592,66.67,66.67,1.055190,42.857143,46.666667,1.017284,1.133359,0.928929,0.937500,1.011420,1.372642,9262189,40,1,36084,0.428454
2,30428,48334,8,58,40,2,2764,0.842105,0.753086,171.066667,100.00,179.625000,1.080138,0.955992,0.771592,0.993761,0.900654,100.00,100.00,1.054849,46.666667,77.777778,0.906726,0.837286,1.123313,1.117647,1.025210,1.056277,9128776,82,0,30428,0.161403
3,36098,36112,23,38,195,2,11892,0.285714,1.487805,166.000000,75.00,155.500000,0.871249,0.848296,0.845522,0.870841,0.731058,75.00,75.00,0.888040,53.333333,40.000000,0.648555,2.125587,0.960721,0.608696,0.309804,0.263333,9586919,92,1,36098,0.066578
4,30414,48341,46,71,34,2,18752,2.375000,0.310330,169.933333,0.00,164.125000,1.107382,1.166437,0.963643,1.001825,0.946688,0.00,0.00,0.984463,46.666667,66.666667,1.238929,0.393975,1.171551,2.000000,1.730696,2.562762,9128538,31,1,48341,0.880046
5,30407,30435,57,20,166,2,7118,0.400000,0.672131,177.066667,50.00,184.500000,0.941093,0.995272,1.001928,0.934268,0.736990,50.00,50.00,1.018264,46.666667,40.000000,0.862513,-4.472477,0.901007,0.956522,0.579996,0.968807,9516653,57,1,30407,0.102638
6,36014,30414,45,23,161,2,2050,0.681818,0.344262,183.466667,25.00,156.350000,0.921257,1.034135,0.921563,0.955612,0.797946,25.00,25.00,1.028385,40.000000,53.333333,1.105788,0.822466,1.014703,0.822222,0.735842,0.634871,9516534,12,1,30414,0.723433
7,9701,6698,81,81,57,2,1042,3.200000,0.603960,163.066667,0.00,177.321429,0.937888,1.114808,0.635880,0.685779,1.635887,0.00,0.00,0.961671,66.666667,66.666667,0.928353,6.457020,0.801164,1.727273,1.140684,1.267427,9085474,19,1,6698,0.500346
8,7727,7573,82,76,184,1,8301,2.428571,2.904762,167.000000,100.00,151.600000,1.301483,1.165019,1.046915,0.940972,1.415819,100.00,100.00,0.991761,80.000000,40.000000,1.060601,2.122972,0.825663,1.566667,1.912002,1.333955,9433752,30,1,7727,0.144923
9,30428,36014,67,42,153,1,13880,1.727273,21.000000,171.066667,66.67,186.500000,1.161314,1.008119,0.596095,1.011756,1.146592,66.67,66.67,0.989076,46.666667,33.333333,1.106032,-0.051787,1.335084,1.433333,1.523553,1.287834,9516359,89,1,30428,0.001119

## Filling submission 1 csv

In [729]:
submission1=pd.read_csv('sample_template/submission_template_file1.csv')

In [730]:
submission1.head(2)

,match id,dataset_type,win_pred_team_id,win_pred_score,train_algorithm,is_ensemble,train_hps_trees,train_hps_depth,train_hps_lr,indep_feat_id1,indep_feat_id2,indep_feat_id3,indep_feat_id4,indep_feat_id5,indep_feat_id6,indep_feat_id7,indep_feat_id8,indep_feat_id9,indep_feat_id10
0,9250275,r1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9262189,r1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [731]:
# filling submisssion 1 win_pred_team_id, win_pred_score with new_test_data win_pred_team_id, win_pred_score according to match id

# also filling train_algorithm as xgboost , is_ensemble=no , train_hps_tree=150, train_hps_depth=6, train_hps_lr=0.1 for all rows

for i in range(len(submission1)):
    match_id = submission1['match id'][i]
    if match_id not in new_test_data['match_id'].values:
        continue
    new_test_data_row = new_test_data[new_test_data['match_id'] == match_id]
    submission1.at[i, 'win_pred_team_id'] = new_test_data_row['win_pred_team_id'].values[0]
    submission1.at[i, 'win_pred_score'] = new_test_data_row['win_pred_score'].values[0]
    submission1.at[i, 'train_algorithm'] = 'xgboost'
    submission1.at[i, 'is_ensemble'] = 'no'
    submission1.at[i, 'train_hps_trees'] = 150
    submission1.at[i, 'train_hps_depth'] = 6
    submission1.at[i, 'train_hps_lr'] = 0.1

C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\868287728.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'xgboost' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  submission1.at[i, 'train_algorithm'] = 'xgboost'
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\868287728.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'no' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  submission1.at[i, 'is_ensemble'] = 'no'

In [732]:
submission1.head(10)

,match id,dataset_type,win_pred_team_id,win_pred_score,train_algorithm,is_ensemble,train_hps_trees,train_hps_depth,train_hps_lr,indep_feat_id1,indep_feat_id2,indep_feat_id3,indep_feat_id4,indep_feat_id5,indep_feat_id6,indep_feat_id7,indep_feat_id8,indep_feat_id9,indep_feat_id10
0,9250275,r1,90.0,0.000905,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9262189,r1,36084.0,0.428454,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9128776,r1,30428.0,0.161403,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9586919,r1,36098.0,0.066578,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9128538,r1,48341.0,0.880046,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9516653,r1,30407.0,0.102638,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9516534,r1,30414.0,0.723433,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9085474,r1,6698.0,0.500346,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9433752,r1,7727.0,0.144923,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9516359,r1,30428.0,0.001119,xgboost,no,150.0,6.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Now genearting for train data

In [733]:
new_train_data.head(2)

,team1_id,team2_id,winner_id,venue,city,match_dt,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,batsmens_averages_ratios,batsmens_strike_rates_ratios,bowlers_strike_rates_ratios,bowlers_economy_ratios,bowlers_extras_ratios,team1_winp_team2_last5,team1_winp_team2_last10,team_average_score_ratios,win_percentage_team1_last_15,win_percentage_team2_last_15,batsmen_performance_ratio_last5,bowlers_performance_ratio_last5,bowlers_economy_ratios_last5,team_sixes_ratios_last15,team_batsmen_above_fifty_ratios,team_batsmen_above_seventy_five_ratios,match_id,toss_winner,toss_decision
0,11283,12634,12634,44,55,212,1,7398,1.666667,0.672131,139.0,100.0,157.178571,2.028272,2.611098,4.638805,2.351068,1.710894,100.0,100.0,1.181688,60.0,63.636364,0.765906,0.792797,0.866174,1.692308,1.197368,0.000000,9331181,44,1
1,20,41,20,53,13,20,1,1406,1.285714,1.952381,156.0,50.0,103.500000,1.024794,0.966568,0.797703,0.807080,0.374242,50.0,50.0,0.999614,60.0,40.000000,0.918417,2.808974,0.807064,0.590164,1.745868,2.585227,8797060,138,1

In [734]:
train_team1_ids = new_train_data['team1_id']
train_team2_ids = new_train_data['team2_id']

In [735]:
# scalling and x train and y train
X_train = new_train_data.drop(['winner_id'], axis=1)
y_train = new_train_data['winner_id']

# scalling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

In [736]:
# Create DMatrix for training and testing
xgb_train = xgb.DMatrix(X_train, enable_categorical=True)
# xgb_test = xgb.DMatrix(X_test, enable_categorical=True)  # No label for xgb_test

In [737]:
xgb_preds = xgb_model.predict(xgb_train)

In [738]:
xgb_preds.shape

(948, 139)

In [739]:


# Compare probabilities and assign the team with higher probability
y_pred_01 = []
win_prob=[]
for i in range(len(xgb_preds)):
    team1_id = train_team1_ids[i]
    team2_id = train_team2_ids[i]
    
    team1_index = class_to_index.get(team1_id, -1)
    team2_index = class_to_index.get(team2_id, -1)
    
    if team1_index == -1 and team2_index == -1:
        y_pred_01.append(team1_id)
        win_prob.append(0)
        
        continue
        # raise ValueError(f"Team ID {team1_id} or {team2_id} not found in class_to_index mapping.")
    
    team1_prob = xgb_preds[i][team1_index]  # Probability for team1_id
    team2_prob = xgb_preds[i][team2_index]  # Probability for team2_id
    
    if team1_prob > team2_prob:
        y_pred_01.append(team1_id)  # team1_id
        win_prob.append(team1_prob)
    else:
        y_pred_01.append(team2_id)  # team2_id
        win_prob.append(team2_prob)

In [740]:
# printing winning team along with their winning probability
for i in range(len(y_pred_01)):
    print(f"Match {i+1}: {y_pred_01[i]} with probability {win_prob[i]}")

Match 1: 12634 with probability 0.033639341592788696
Match 2: 41 with probability 0.0060182008892297745
Match 3: 10576 with probability 0.7894976139068604
Match 4: 36070 with probability 0.14261484146118164
Match 5: 48341 with probability 0.4648345708847046
Match 6: 40424 with probability 0.9321692585945129
Match 7: 55 with probability 0.008000718429684639
Match 8: 47501 with probability 0.14077581465244293
Match 9: 12634 with probability 0.3403950333595276
Match 10: 55 with probability 0.012842218391597271
Match 11: 30435 with probability 0.05316103994846344
Match 12: 30435 with probability 0.06903556734323502
Match 13: 36014 with probability 0.11568733304738998
Match 14: 8987 with probability 0.0043811132200062275
Match 15: 10618 with probability 0.32011091709136963
Match 16: 30393 with probability 0.3152371346950531
Match 17: 33956 with probability 0.07178231328725815
Match 18: 188 with probability 0.03424298018217087
Match 19: 7727 with probability 0.842010498046875
Match 20: 251 with probability 0.15606985986232758
Match 21: 40424 with probability 0.11448987573385239
Match 22: 18570 with probability 0.971203625202179
Match 23: 47508 with probability 0.09983210265636444
Match 24: 20 with probability 0.001962983515113592
Match 25: 8917 with probability 0.05315350368618965
Match 26: 10366 with probability 0.010327703319489956
Match 27: 17653 with probability 0.03410343825817108
Match 28: 47480 with probability 0.11983709037303925
Match 29: 42573 with probability 0.8216916918754578
Match 30: 12046 with probability 0.3117392063140869
Match 31: 55 with probability 0.016417967155575752
Match 32: 44904 with probability 0.07763120532035828
Match 33: 33963 with probability 0.03063279576599598
Match 34: 46752 with probability 0.05856238678097725
Match 35: 118 with probability 0.006751471199095249
Match 36: 17744 with probability 0.4320671856403351
Match 37: 20 with probability 0.004347748588770628
Match 38: 48943 with probability 0.16788099706172943
Match 39: 237 with probability 0.2639697194099426
Match 40: 30435 with probability 0.7863481044769287
Match 41: 55 with probability 0.010249908082187176
Match 42: 17653 with probability 0.010995529592037201
Match 43: 8182 with probability 0.17984214425086975
Match 44: 8987 with probability 0.0036090489011257887
Match 45: 7258 with probability 0.019915979355573654
Match 46: 33956 with probability 0.05788636580109596
Match 47: 48950 with probability 0.9662355780601501
Match 48: 8987 with probability 0.2638474106788635
Match 49: 47508 with probability 0.4807896912097931
Match 50: 45072 with probability 0.40625590085983276
Match 51: 8301 with probability 0.02233528345823288
Match 52: 48922 with probability 0.31698402762413025
Match 53: 8917 with probability 0.14479993283748627
Match 54: 34 with probability 0.016637640073895454
Match 55: 6698 with probability 0.007151608821004629
Match 56: 40578 with probability 0.24391049146652222
Match 57: 300 with probability 0.7965282797813416
Match 58: 12718 with probability 0.8063735365867615
Match 59: 17982 with probability 0.021400094032287598
Match 60: 10618 with probability 0.00685143144801259
Match 61: 62 with probability 0.0011853995965793729
Match 62: 23750 with probability 0.30214962363243103
Match 63: 40424 with probability 0.5985819101333618
Match 64: 9876 with probability 0.06086425483226776
Match 65: 47529 with probability 0.7831354737281799
Match 66: 23750 with probability 0.7811370491981506
Match 67: 7573 with probability 0.24286416172981262
Match 68: 251 with probability 0.17529036104679108
Match 69: 44904 with probability 0.814751386642456
Match 70: 20 with probability 0.00047189928591251373
Match 71: 48334 with probability 0.5798454284667969
Match 72: 9876 with probability 0.04443664476275444
Match 73: 27 with probability 0.008479177951812744
Match 74: 41 with probability 0.005157670006155968
Match 75: 35790 with probability 0.43202999234199524
Match 76: 46731 with probability 0.23436754941940308
Match 77: 9701 with probability 0.5160304307937622
Match 78: 7258 with probability 0.0408119335770607
Match 79: 76 with probability 0.006593527738004923
Match 80: 36098 with probability 0.14148448407649994
Match 81: 22497 with probability 0.10074885189533234
Match 82: 237 with probability 0.05959759280085564
Match 83: 216 with probability 0.019202537834644318
Match 84: 40424 with probability 0.892464280128479
Match 85: 46731 with probability 0.0697115808725357
Match 86: 30414 with probability 0.028439398854970932
Match 87: 8056 with probability 0.06661030650138855
Match 88: 7608 with probability 0.04087739810347557
Match 89: 30400 with probability 0.6866133809089661
Match 90: 15497 with probability 0.031229257583618164
Match 91: 33949 with probability 0.8620374798774719
Match 92: 10366 with probability 0.1919514536857605
Match 93: 55 with probability 0.0155307212844491
Match 94: 188 with probability 0.007823070511221886
Match 95: 11591 with probability 0.1629655957221985
Match 96: 7727 with probability 0.16683632135391235
Match 97: 40606 with probability 0.15370817482471466
Match 98: 48950 with probability 0.9593198895454407
Match 99: 48341 with probability 0.16328933835029602
Match 100: 48334 with probability 0.8434002995491028
Match 101: 46773 with probability 0.20168089866638184
Match 102: 48950 with probability 0.7133601307868958
Match 103: 27 with probability 0.011991359293460846
Match 104: 48334 with probability 0.2214501053094864
Match 105: 14454 with probability 0.7726570963859558
Match 106: 10366 with probability 0.21364814043045044
Match 107: 8056 with probability 0.04582640901207924
Match 108: 48943 with probability 0.39710888266563416
Match 109: 42573 with probability 0.26535463333129883
Match 110: 35790 with probability 0.9734354019165039
Match 111: 42573 with probability 0.8716281056404114
Match 112: 10576 with probability 0.005673848558217287
Match 113: 30400 with probability 0.12098883837461472
Match 114: 33956 with probability 0.05831378698348999
Match 115: 55 with probability 0.006452754605561495
Match 116: 8301 with probability 0.0063804155215620995
Match 117: 11591 with probability 0.5663586258888245
Match 118: 12046 with probability 0.022785836830735207
Match 119: 30393 with probability 0.21078656613826752
Match 120: 7258 with probability 0.06933154910802841
Match 121: 27 with probability 0.004287042189389467
Match 122: 10576 with probability 0.03545539453625679
Match 123: 33921 with probability 0.5074335932731628
Match 124: 46731 with probability 0.016748130321502686
Match 125: 48341 with probability 0.09793929755687714
Match 126: 47529 with probability 0.32471567392349243
Match 127: 251 with probability 0.09005656093358994
Match 128: 33949 with probability 0.1634596884250641
Match 129: 30393 with probability 0.0635891780257225
Match 130: 118 with probability 0.029062239453196526
Match 131: 9701 with probability 0.023994822055101395
Match 132: 33949 with probability 0.1847580522298813
Match 133: 36112 with probability 0.06575338542461395
Match 134: 13166 with probability 0.9617219567298889
Match 135: 14629 with probability 0.16777704656124115
Match 136: 30393 with probability 0.08100994676351547
Match 137: 48929 with probability 0.13657139241695404
Match 138: 33956 with probability 0.00818732101470232
Match 139: 48341 with probability 0.27020809054374695
Match 140: 40606 with probability 0.25960442423820496
Match 141: 17744 with probability 0.04290330037474632
Match 142: 40578 with probability 0.08565554767847061
Match 143: 7727 with probability 0.4320497512817383
Match 144: 20 with probability 0.017107605934143066
Match 145: 10366 with probability 0.20499975979328156
Match 146: 8056 with probability 0.5750257968902588
Match 147: 216 with probability 0.009924483485519886
Match 148: 18570 with probability 0.3732200860977173
Match 149: 34 with probability 0.018054485321044922
Match 150: 30400 with probability 0.39587005972862244
Match 151: 251 with probability 0.06739836931228638
Match 152: 46766 with probability 0.0021899319253861904
Match 153: 49657 with probability 0.7707418203353882
Match 154: 48341 with probability 0.06554099172353745
Match 155: 48341 with probability 0.871677815914154
Match 156: 47501 with probability 0.023900603875517845
Match 157: 36084 with probability 0.15364865958690643
Match 158: 7727 with probability 0.18049098551273346
Match 159: 9876 with probability 0.3347505033016205
Match 160: 10576 with probability 0.015202452428638935
Match 161: 36014 with probability 0.027855204418301582
Match 162: 8056 with probability 0.29683512449264526
Match 163: 62 with probability 0.0018277125200256705
Match 164: 48341 with probability 0.46217772364616394
Match 165: 48733 with probability 0.11060445010662079
Match 166: 769 with probability 0.47015273571014404
Match 167: 23869 with probability 0.04217860847711563
Match 168: 33935 with probability 0.12284902483224869
Match 169: 36084 with probability 0.10899532586336136
Match 170: 46759 with probability 0.016881968826055527
Match 171: 48943 with probability 0.8888865113258362
Match 172: 36014 with probability 0.02674292027950287
Match 173: 7258 with probability 0.21382205188274384
Match 174: 118 with probability 0.028798384591937065
Match 175: 10366 with probability 0.03947454318404198
Match 176: 62 with probability 0.009179256856441498
Match 177: 8917 with probability 0.0842849537730217
Match 178: 293 with probability 0.0776270404458046
Match 179: 118 with probability 0.015054463408887386
Match 180: 28594 with probability 0.96886146068573
Match 181: 46766 with probability 0.04368707537651062
Match 182: 48341 with probability 0.09156852215528488
Match 183: 11591 with probability 0.4193827509880066
Match 184: 48922 with probability 0.5239639282226562
Match 185: 33949 with probability 0.6710396409034729
Match 186: 146 with probability 0.01668277569115162
Match 187: 33914 with probability 0.06568042933940887
Match 188: 23869 with probability 0.21421167254447937
Match 189: 33921 with probability 0.6411597728729248
Match 190: 46738 with probability 0.00803874246776104
Match 191: 8917 with probability 0.027508968487381935
Match 192: 76 with probability 0.008033119142055511
Match 193: 40606 with probability 0.2716587483882904
Match 194: 237 with probability 0.03466135635972023
Match 195: 33914 with probability 0.02811729721724987
Match 196: 30421 with probability 0.3222213089466095
Match 197: 8182 with probability 0.07946131378412247
Match 198: 7258 with probability 0.4797837436199188
Match 199: 48341 with probability 0.08626274764537811
Match 200: 48334 with probability 0.42371731996536255
Match 201: 9876 with probability 0.009643364697694778
Match 202: 9967 with probability 0.003931684419512749
Match 203: 48929 with probability 0.07129400968551636
Match 204: 18360 with probability 0.8930850028991699
Match 205: 36112 with probability 0.5641412138938904
Match 206: 9701 with probability 0.016515394672751427
Match 207: 22497 with probability 0.21347945928573608
Match 208: 251 with probability 0.013300913386046886
Match 209: 293 with probability 0.01577216200530529
Match 210: 8182 with probability 0.011063635349273682
Match 211: 48 with probability 0.004593824036419392
Match 212: 33956 with probability 0.16941894590854645
Match 213: 23750 with probability 0.30846676230430603
Match 214: 30400 with probability 0.5122471451759338
Match 215: 30393 with probability 0.015751002356410027
Match 216: 1490 with probability 0.2996741831302643
Match 217: 9701 with probability 0.010077803395688534
Match 218: 33921 with probability 0.18147467076778412
Match 219: 8182 with probability 0.7345589399337769
Match 220: 48 with probability 0.003943580202758312
Match 221: 8182 with probability 0.780782163143158
Match 222: 8917 with probability 0.04125760868191719
Match 223: 40452 with probability 0.035279709845781326
Match 224: 30414 with probability 0.06479959934949875
Match 225: 17653 with probability 0.04500722140073776
Match 226: 40298 with probability 0.4804711937904358
Match 227: 12473 with probability 0.6796845197677612
Match 228: 46766 with probability 0.27312910556793213
Match 229: 36126 with probability 0.02581970766186714
Match 230: 14454 with probability 0.825553297996521
Match 231: 14454 with probability 0.26743826270103455
Match 232: 9701 with probability 0.07549157738685608
Match 233: 9701 with probability 0.07781501859426498
Match 234: 216 with probability 0.007367489859461784
Match 235: 195 with probability 0.16840413212776184
Match 236: 251 with probability 0.07646096497774124
Match 237: 209 with probability 0.06859715282917023
Match 238: 90 with probability 0.6686969995498657
Match 239: 8182 with probability 0.01687806472182274
Match 240: 293 with probability 0.026287278160452843
Match 241: 41 with probability 0.007396236062049866
Match 242: 8700 with probability 0.1446794718503952
Match 243: 55 with probability 0.005741466768085957
Match 244: 18570 with probability 0.7476542592048645
Match 245: 40606 with probability 0.1886465847492218
Match 246: 48936 with probability 0.2387194186449051
Match 247: 293 with probability 0.01631600223481655
Match 248: 30400 with probability 0.4622873067855835
Match 249: 6698 with probability 0.23767656087875366
Match 250: 209 with probability 0.00540615851059556
Match 251: 47529 with probability 0.8851932287216187
Match 252: 10618 with probability 0.3780931830406189
Match 253: 23869 with probability 0.03152007609605789
Match 254: 8917 with probability 0.052361056208610535
Match 255: 9701 with probability 0.030194632709026337
Match 256: 34 with probability 0.003932024817913771
Match 257: 10576 with probability 0.07376912236213684
Match 258: 40606 with probability 0.42564165592193604
Match 259: 7727 with probability 0.21394802629947662
Match 260: 202 with probability 0.018743768334388733
Match 261: 30400 with probability 0.024885952472686768
Match 262: 20 with probability 0.004420024808496237
Match 263: 27 with probability 0.0015831105411052704
Match 264: 62 with probability 0.0014571441570296884
Match 265: 237 with probability 0.02389916032552719
Match 266: 10618 with probability 0.05078108608722687
Match 267: 27 with probability 0.011548545211553574
Match 268: 36098 with probability 0.07534191757440567
Match 269: 34 with probability 0.005104763433337212
Match 270: 47529 with probability 0.6530020236968994
Match 271: 48936 with probability 0.8767136335372925
Match 272: 49657 with probability 0.9052799940109253
Match 273: 13957 with probability 0.7290241122245789
Match 274: 47529 with probability 0.9446738958358765
Match 275: 35790 with probability 0.41903984546661377
Match 276: 9701 with probability 0.012437491677701473
Match 277: 69 with probability 0.007094716187566519
Match 278: 48 with probability 0.006987546104937792
Match 279: 10618 with probability 0.02228943444788456
Match 280: 55 with probability 0.001979817869141698
Match 281: 36126 with probability 0.04860277101397514
Match 282: 33956 with probability 0.10243893414735794
Match 283: 8182 with probability 0.4919131100177765
Match 284: 36014 with probability 0.016188321635127068
Match 285: 49650 with probability 0.5632966160774231
Match 286: 10576 with probability 0.0342179574072361
Match 287: 44904 with probability 0.5298227667808533
Match 288: 47487 with probability 0.6493918895721436
Match 289: 46759 with probability 0.004865959752351046
Match 290: 9876 with probability 0.08607002347707748
Match 291: 38814 with probability 0.027323687449097633
Match 292: 62 with probability 0.007075522094964981
Match 293: 76 with probability 0.009023499675095081
Match 294: 23113 with probability 0.0874377191066742
Match 295: 10618 with probability 0.029471460729837418
Match 296: 48936 with probability 0.3012525141239166
Match 297: 34 with probability 0.01122781727463007
Match 298: 11283 with probability 0.029799779877066612
Match 299: 33935 with probability 0.0144798019900918
Match 300: 48341 with probability 0.3504491150379181
Match 301: 8917 with probability 0.040777791291475296
Match 302: 9876 with probability 0.0187916848808527
Match 303: 36098 with probability 0.2432461529970169
Match 304: 33963 with probability 0.03274180740118027
Match 305: 23316 with probability 0.054276760667562485
Match 306: 33935 with probability 0.03022034652531147
Match 307: 46759 with probability 0.06828837096691132
Match 308: 30400 with probability 0.01647607423365116
Match 309: 36070 with probability 0.5781675577163696
Match 310: 55 with probability 0.0041502006351947784
Match 311: 7727 with probability 0.04253039509057999
Match 312: 8056 with probability 0.07647594809532166
Match 313: 33935 with probability 0.11624470353126526
Match 314: 7258 with probability 0.4302661418914795
Match 315: 10366 with probability 0.0212494395673275
Match 316: 7573 with probability 0.12440455704927444
Match 317: 36014 with probability 0.12178650498390198
Match 318: 8182 with probability 0.13928675651550293
Match 319: 47529 with probability 0.835817277431488
Match 320: 293 with probability 0.0203438438475132
Match 321: 69 with probability 0.008211621083319187
Match 322: 40298 with probability 0.12764312326908112
Match 323: 10366 with probability 0.026409726589918137
Match 324: 40424 with probability 0.4858291447162628
Match 325: 33963 with probability 0.0660080760717392
Match 326: 9876 with probability 0.04297064617276192
Match 327: 293 with probability 0.020945772528648376
Match 328: 8917 with probability 0.20111176371574402
Match 329: 55 with probability 0.006244644057005644
Match 330: 46780 with probability 0.16744661331176758
Match 331: 44904 with probability 0.4369469881057739
Match 332: 69 with probability 0.02301624044775963
Match 333: 17653 with probability 0.01444250624626875
Match 334: 7727 with probability 0.11187521368265152
Match 335: 27 with probability 0.008658034726977348
Match 336: 30435 with probability 0.9779099225997925
Match 337: 33949 with probability 0.8448820114135742
Match 338: 33963 with probability 0.45771077275276184
Match 339: 8182 with probability 0.11511057615280151
Match 340: 41 with probability 0.005543868988752365
Match 341: 10618 with probability 0.12479609996080399
Match 342: 8182 with probability 0.5254861116409302
Match 343: 33928 with probability 0.05846700817346573
Match 344: 22497 with probability 0.15879637002944946
Match 345: 202 with probability 0.004193876404315233
Match 346: 12634 with probability 0.002591217402368784
Match 347: 23869 with probability 0.12000081688165665
Match 348: 36126 with probability 0.15617525577545166
Match 349: 7573 with probability 0.1705731898546219
Match 350: 7258 with probability 0.004053812008351088
Match 351: 8987 with probability 0.033161621540784836
Match 352: 958 with probability 0.693599283695221
Match 353: 30393 with probability 0.03966791182756424
Match 354: 40564 with probability 0.9263240098953247
Match 355: 20 with probability 0.002365361899137497
Match 356: 45072 with probability 0.2621689736843109
Match 357: 30421 with probability 0.08901124447584152
Match 358: 30393 with probability 0.21806146204471588
Match 359: 118 with probability 0.0026602696161717176
Match 360: 30428 with probability 0.6187735795974731
Match 361: 23750 with probability 0.1347709596157074
Match 362: 293 with probability 0.023972243070602417
Match 363: 36098 with probability 0.18215139210224152
Match 364: 7258 with probability 0.029918022453784943
Match 365: 9701 with probability 0.05990614742040634
Match 366: 47501 with probability 0.057946354150772095
Match 367: 22763 with probability 0.024110641330480576
Match 368: 14860 with probability 0.6396619081497192
Match 369: 17982 with probability 0.0016569460276514292
Match 370: 9701 with probability 0.040937021374702454
Match 371: 40424 with probability 0.61844402551651
Match 372: 62 with probability 0.014212848618626595
Match 373: 7573 with probability 0.12042328715324402
Match 374: 7258 with probability 0.127334862947464
Match 375: 23316 with probability 0.735251784324646
Match 376: 34 with probability 0.00705725559964776
Match 377: 40452 with probability 0.4018785059452057

In [741]:
len(win_prob)

948

In [742]:
new_train_data['win_pred_team_id'] = y_pred_01

In [743]:
# adding winning probability to test_data
new_train_data['win_pred_score'] = win_prob

In [744]:
new_train_data.head(5)

,team1_id,team2_id,winner_id,venue,city,match_dt,lighting,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,batsmens_averages_ratios,batsmens_strike_rates_ratios,bowlers_strike_rates_ratios,bowlers_economy_ratios,bowlers_extras_ratios,team1_winp_team2_last5,team1_winp_team2_last10,team_average_score_ratios,win_percentage_team1_last_15,win_percentage_team2_last_15,batsmen_performance_ratio_last5,bowlers_performance_ratio_last5,bowlers_economy_ratios_last5,team_sixes_ratios_last15,team_batsmen_above_fifty_ratios,team_batsmen_above_seventy_five_ratios,match_id,toss_winner,toss_decision,win_pred_team_id,win_pred_score
0,11283,12634,12634,44,55,212,1,7398,1.666667,0.672131,139.000000,100.0,157.178571,2.028272,2.611098,4.638805,2.351068,1.710894,100.0,100.0,1.181688,60.000000,63.636364,0.765906,0.792797,0.866174,1.692308,1.197368,0.000000,9331181,44,1,12634,0.033639
1,20,41,20,53,13,20,1,1406,1.285714,1.952381,156.000000,50.0,103.500000,1.024794,0.966568,0.797703,0.807080,0.374242,50.0,50.0,0.999614,60.000000,40.000000,0.918417,2.808974,0.807064,0.590164,1.745868,2.585227,8797060,138,1,41,0.006018
2,10576,8987,10576,111,83,370,1,251,0.857143,0.672131,173.266667,0.0,154.333333,1.000138,0.909712,0.850190,0.717828,1.024538,0.0,0.0,1.116027,40.000000,46.666667,0.894351,0.802434,1.069791,0.784314,0.770274,0.277903,9433269,81,1,10576,0.789498
3,36084,36070,36084,10,105,434,0,14300,2.166667,1.975610,164.266667,50.0,144.250000,1.116102,1.052218,0.813452,0.878287,0.700727,50.0,50.0,0.882667,60.000000,66.666667,1.424835,2.466747,0.840831,1.709677,0.922251,0.795991,9587073,34,0,36070,0.142615
4,30407,48341,48341,75,25,331,2,7118,0.818182,1.327869,164.666667,0.0,189.000000,1.035394,1.240634,1.084338,1.168234,1.480742,0.0,0.0,1.026700,53.333333,69.230769,1.074782,0.646214,0.987516,1.261905,0.835192,1.461586,9516457,40,1,48341,0.464835

In [745]:
for i in range(len(submission1)):
    match_id = submission1['match id'][i]
    if match_id not in new_train_data['match_id'].values:
        continue
    new_train_data_row = new_train_data[new_train_data['match_id'] == match_id]
    submission1.at[i, 'win_pred_team_id'] = new_train_data_row['win_pred_team_id'].values[0]
    submission1.at[i, 'win_pred_score'] = new_train_data_row['win_pred_score'].values[0]
    submission1.at[i, 'train_algorithm'] = 'xgboost'
    submission1.at[i, 'is_ensemble'] = 'no'
    submission1.at[i, 'train_hps_trees'] = 150
    submission1.at[i, 'train_hps_depth'] = 6
    submission1.at[i, 'train_hps_lr'] = 0.1

## CSV-2 Generation

In [746]:
cols = train_data.columns[-15:-5]

In [747]:
cols

Index(['team1_winp_team2_last10', 'team_average_score_ratios',
       'win_percentage_team1_last_15', 'win_percentage_team2_last_15',
       'batsmen_performance_ratio_last5', 'bowlers_performance_ratio_last5',
       'bowlers_economy_ratios_last5', 'team_sixes_ratios_last15',
       'team_batsmen_above_fifty_ratios',
       'team_batsmen_above_seventy_five_ratios'],
      dtype='object')

In [748]:
ft_dict = xgb_model.get_score(importance_type='gain')

In [749]:
ft_dict

{'f0': 4.953207969665527,
 'f1': 5.508023262023926,
 'f2': 3.0659382343292236,
 'f3': 4.967489719390869,
 'f4': 3.107064962387085,
 'f5': 3.2824478149414062,
 'f6': 4.2829508781433105,
 'f7': 2.180805206298828,
 'f8': 2.1459102630615234,
 'f9': 2.334364891052246,
 'f10': 1.4695738554000854,
 'f11': 2.6298089027404785,
 'f12': 3.1465866565704346,
 'f13': 1.8925256729125977,
 'f14': 2.5889670848846436,
 'f15': 1.8726139068603516,
 'f16': 2.021083354949951,
 'f17': 4.7671966552734375,
 'f18': 1.2847082614898682,
 'f19': 2.1661763191223145,
 'f20': 1.130432367324829,
 'f21': 2.4093706607818604,
 'f22': 1.2392815351486206,
 'f23': 1.7593015432357788,
 'f24': 1.1012986898422241,
 'f25': 1.5467344522476196,
 'f26': 2.1243104934692383,
 'f27': 0.9955365061759949,
 'f28': 3.4166128635406494,
 'f29': 2.269134044647217,
 'f30': 1.4888408184051514}

In [750]:
sorted_dict = {}
for key in sorted(ft_dict, key=ft_dict.get):
    sorted_dict[key] = ft_dict[key]
sorted_dict

{'f27': 0.9955365061759949,
 'f24': 1.1012986898422241,
 'f20': 1.130432367324829,
 'f22': 1.2392815351486206,
 'f18': 1.2847082614898682,
 'f10': 1.4695738554000854,
 'f30': 1.4888408184051514,
 'f25': 1.5467344522476196,
 'f23': 1.7593015432357788,
 'f15': 1.8726139068603516,
 'f13': 1.8925256729125977,
 'f16': 2.021083354949951,
 'f26': 2.1243104934692383,
 'f8': 2.1459102630615234,
 'f19': 2.1661763191223145,
 'f7': 2.180805206298828,
 'f29': 2.269134044647217,
 'f9': 2.334364891052246,
 'f21': 2.4093706607818604,
 'f14': 2.5889670848846436,
 'f11': 2.6298089027404785,
 'f2': 3.0659382343292236,
 'f4': 3.107064962387085,
 'f12': 3.1465866565704346,
 'f5': 3.2824478149414062,
 'f28': 3.4166128635406494,
 'f6': 4.2829508781433105,
 'f17': 4.7671966552734375,
 'f0': 4.953207969665527,
 'f3': 4.967489719390869,
 'f1': 5.508023262023926}

In [751]:
sorted_list = list(sorted_dict.keys())

In [752]:
feat = pd.read_csv('sample_template/submission_template_file2.csv')

In [753]:
feat['feat_id'] = np.arange(1, 11)

In [754]:
feat['feat_name'] = cols

In [755]:
feat

,feat_id,feat_name,feat_description,model_feat_imp_train,feat_rank_train
0,1,team1_winp_team2_last10,NaN,NaN,NaN
1,2,team_average_score_ratios,NaN,NaN,NaN
2,3,win_percentage_team1_last_15,NaN,NaN,NaN
3,4,win_percentage_team2_last_15,NaN,NaN,NaN
4,5,batsmen_performance_ratio_last5,NaN,NaN,NaN
5,6,bowlers_performance_ratio_last5,NaN,NaN,NaN
6,7,bowlers_economy_ratios_last5,NaN,NaN,NaN
7,8,team_sixes_ratios_last15,NaN,NaN,NaN
8,9,team_batsmen_above_fifty_ratios,NaN,NaN,NaN
9,10,team_batsmen_above_seventy_five_ratios,NaN,NaN,NaN

In [756]:
for i in range(10):
    feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']

C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\4165979246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['model_feat_imp_train'][i] = ft_dict[f'f{12+i}']

In [757]:
filtered_feats = []

for i in range(10):
    filtered_feats.append(f'f{14+i}')

In [758]:
filtered_feats

['f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20', 'f21', 'f22', 'f23']

In [759]:
for i in range(10):
    feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1

C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1
C:\Users\Dell\AppData\Local\Temp\ipykernel_14144\281225821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat['feat_rank_train'][i] = sorted_list.index(filtered_feats[i]) + 1

In [760]:
feat.to_csv('sample_template/submission_file2-2.csv',index=False)

In [761]:
submission1.to_csv('sample_template/submission_file1-2.csv', index=False)

In [762]:
# train_check=pd.read_csv('testing/train_data.csv')

In [763]:
# # checking count of matchings between y_pred_01 and winner_id
count=0
for i in range(len(y_pred_01)):
    if y_pred_01[i] == new_train_data['winner_id'][i]:
        count+=1
print(count)

799

In [481]:
# correlation with winner_id
correlation = new_train_data.corr()['winner_id'].sort_values(ascending=False)

correlation

winner_id                          1.000000
win_pred_team_id                   0.995377
team2_id                           0.979063
team1_id                           0.968495
win_pred_score                     0.410026
lighting                           0.344856
venue                              0.153232
ground_avg_runs_last15             0.111647
city                               0.074610
team_average_score_ratios          0.064217
toss_decision                      0.052883
bowlers_economy_ratios_last5       0.043910
ground_id                          0.017925
match_id                           0.009817
team1_winp_team2_last10            0.006720
batsmen_performance_ratio_last5    0.005853
team1only_avg_runs_last15          0.005800
team1_winp_team2_last5             0.002836
team1_winp_team2_last15            0.002836
win_percentage_team2_last_15      -0.003678
bowlers_economy_ratios            -0.010764
win_percentage_team1_last_15      -0.022032
bowlers_extras_ratios             -0.023152
bowlers_strike_rates_ratios       -0.026783
team_winp_last5                   -0.027331
bowlers_performance_ratio_last5   -0.027480
team_sixes_ratios_last15          -0.037442
batsmens_strike_rates_ratios      -0.040206
match_dt                          -0.045009
batsmens_averages_ratios          -0.056647
toss_winner                       -0.076954
team_count_50runs_last15          -0.102063
Name: winner_id, dtype: float64